﻿@model ClassLibrary.WebPostModel.ListResellerModel
@{
    var resellerList = new EntityLibrary.Data.AdminService().getResellers(Model.index, Model.search, Model.listcount, Model.userCurrency,Model.DistributorId);
}

@if (resellerList.Count > 0)
{
    foreach (var reseller in resellerList)
    {
        <div class="distributor_single">
            <div class="distributorName">
                <span>@reseller.Username</span>
            </div>
            <div class="distributor_btn">
                <a href="/Distributor/resellercredit/@reseller.ResellerId">Credit</a>
                <a href="/Distributor/editreseller/@reseller.ResellerId">Edit</a>
                <a class="btn-delete-reseller" data-resellerid="@reseller.ResellerId">Delete</a>
            </div>
        </div><!-- ./distributor_single -->
    }
}


