﻿@model ClassLibrary.WebPostModel.ResellerCredit
@{
    ViewBag.Title = "resellercredit";
    Layout = "~/Views/Shared/_distributorLayout.cshtml";
    var reseller = new EntityLibrary.Data.Reseller(Model.resellerId);
}





<input type="hidden" id="hfn-resellercredithistorylist-index" value="0" />
<input type="hidden" id="hfn-resellercredithistorylist-resellerId" value="@Model.resellerId" />

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
            <h3 class="pgeTitle">Reseller</h3>

            <div class="distributor_credit">
                <div class="distributor_form">
                    @using (Ajax.BeginForm("AddResellerCredit", "Distributor", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "AddResellerCreditSuccess",
                OnFailure = "ajaxFailure",
            }, new { id = "touch&pay-AddResellerCredit" }))
                    {
                        @Html.HiddenFor(m => m.resellerId, new { Value = Model.resellerId })
                        <div class="form-group cust_formInner">
                            <span>Total Amount : </span>
                            <div>
                                @Html.TextBoxFor(m => m.amount, new { autocomplete = "off", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.amount)
                                @*    <input type="text" class="form-control">*@
                                <button type="submit">Credit</button>
                            </div>
                        </div>
                    }

                    <div class="form-group cust_formInner">
                        <span>Balance : </span>
                        @if (reseller != null)
                        {
                            <strong>@reseller.Wallet AED</strong>
                        }
                        else
                        {
                            <strong>0 AED</strong>
                        }
                    </div>
                </div>
            </div><!-- ./distributor_credit -->

            <div class="distributor_credit">
                <h4 class="pgeTitle">History</h4>

                <div class="dates_pick">
                    <div class="form-group dates_icon">
                        <input type="text" class="form-control" id="fromdate" placeholder="From" name="date">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="form-group dates_icon">
                        <input type="text" class="form-control" id="todate" placeholder="To" name="date">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered cust-table">
                        <thead>
                            <tr>
                                <th width="70">Sl No</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-resellercredithistorylist">
                            @{
                                var model = new ClassLibrary.WebPostModel.ResellerCreditHistoryListModel();
                                model.resellerId = Model.resellerId;
                                model.search = "";
                                model.listcount = "10";
                                model.index = 0;
                                model.fromdate = "";
                                model.todate = "";
                            }
                            @*@Html.Partial("~/Views/Distributor/_pv_distributor_Credit_HistoryList.cshtml", model)*@
                            @Html.Partial("~/Views/Distributor/_pv_Reseller_Credit_HistoryList.cshtml", model)
                        </tbody>
                        @*<a href="~/Views/Distributor/_pv_Reseller_Credit_HistoryList.cshtml">~/Views/Distributor/_pv_Reseller_Credit_HistoryList.cshtml</a>*@
                    </table>
                </div>
                <div class="paging">
                    <ul id="ul-resellercredithistorylist-pagination">
                        @{
                            var postModelPagination = new ClassLibrary.WebPostModel.ResellerCreditHistoryListPaginationModel();
                            postModelPagination.currentIndex = model.index;
                            postModelPagination.nextIndex = model.index + 1;
                            postModelPagination.listcount = "10";
                            postModelPagination.search = "";
                            postModelPagination.resellerId = Model.resellerId;
                            postModelPagination.fromdate = "";
                            postModelPagination.todate = "";
                        }
                        @*@Html.Partial("~/Views/Distributor/_pv_distributor_Credit_History_Pagination.cshtml", postModelPagination)*@
                        @Html.Partial("~/Views/Distributor/_pv_Reseller_Credit_History_Pagination.cshtml", postModelPagination)

                        
    @*<a href="~/Views/Distributor/_pv_Reseller_Credit_History_Pagination.cshtml">~/Views/Distributor/_pv_Reseller_Credit_History_Pagination.cshtml</a>*@
                    </ul>
                </div>

                <div class="distributor_form">
                    <div class="form-group cust_formInner">
                        <span>Total : </span>
                        @if (reseller != null)
                        {
                            <strong id="credit-sum-id">@reseller.CreditTotal AED</strong>
                        }
                        else
                        {
                            <strong>0 AED</strong>
                        }
                    </div>
                </div>
            </div><!-- ./distributor_credit -->

        </div><!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
    </div><!-- ./row -->
</div>


<script>

    function AddResellerCreditSuccess(data) {
        if (data.status) {
            toastrSuccess(data.message)
            setTimeout(function () {
                location.reload();
            }, 300);
        }
        else {
            toastrError(data.message);
        }
    }


    $(document).on('keydown', '#amount', function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
</script>



<script>

    function RefreshResellerCreditHistorylist(index) {
        var obj = new Object();
        obj.index = parseInt(index);
        obj.search = "";
        obj.resellerId = $('#hfn-resellercredithistorylist-distributorid').val();
        obj.listcount = "10";
        obj.fromdate = $('#fromdate').val();
        obj.todate = $('#todate').val();
        $.ajax({
            url: '/Distributor/refreshResellerCreditlist',
            type: "POST",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#tbody-resellercredithistorylist').html(data);
            }
        });
    }

    function RefreshResellerCreditHistorylistPagination(currentIndex, nextIndex) {
        var obj = new Object();
        obj.currentIndex = parseInt(currentIndex);
        obj.nextIndex = parseInt(nextIndex);
        obj.resellerId = $('#hfn-resellercredithistorylist-distributorid').val();
        obj.search = "";
        obj.listcount = "10";
        obj.fromdate = $('#fromdate').val();
        obj.todate = $('#todate').val();
        $.ajax({
            url: '/Distributor/refreshResellerCreditlistPagination',
            type: "POST",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#ul-resellercredithistorylist-pagination').html(data);
            }
        });
    }

    $(document).on('click', '#li-resellerhistoryList-pagination-next', function () {
        var index = $('#hfn-resellercredithistorylist-index').val();
        RefreshResellerCreditHistorylist(parseInt(index) + parseInt(1));
        RefreshResellerCreditHistorylistPagination(parseInt(index) + parseInt(1), parseInt($('#hfn-resellercredithistorylist-index').val()) + parseInt(2));
        $('#hfn-resellercredithistorylist-index').val(parseInt($('#hfn-resellercredithistorylist-index').val()) + parseInt(1));
    });

    $(document).on('click', '#li-resellerhistoryList-pagination-prev', function () {
        var index = $('#hfn-resellercredithistorylist-index').val();
        RefreshResellerCreditHistorylist(parseInt(index) - parseInt(1));
        RefreshResellerCreditHistorylistPagination(parseInt(index) - parseInt(1), parseInt($('#hfn-resellercredithistorylist-index').val()) - parseInt(2));
        $('#hfn-resellercredithistorylist-index').val(parseInt($('#hfn-resellercredithistorylist-index').val()) - parseInt(1));
    });

    $(document).on('change', '#todate', function () {
        $('#hfn-resellercredithistorylist-index').val(0);
        var index = $('#hfn-resellercredithistorylist-index').val();
        RefreshResellerCreditHistorylist(parseInt(index));
        RefreshResellerCreditHistorylistPagination(parseInt(index), parseInt($('#hfn-resellercredithistorylist-index').val()) + parseInt(1));
        RefreshCreditSum();
    });
    $(document).on('change', '#fromdate', function () {
        $('#hfn-resellercredithistorylist-index').val(0);
        var index = $('#hfn-resellercredithistorylist-index').val();
        RefreshResellerCreditHistorylist(parseInt(index));
        RefreshResellerCreditHistorylistPagination(parseInt(index), parseInt($('#hfn-resellercredithistorylist-index').val()) + parseInt(1));
        RefreshCreditSum();
    });


    function RefreshCreditSum() {
        var obj = new Object();
        obj.resellerId = $('#hfn-resellercredithistorylist-distributorid').val();
        obj.fromdate = $('#fromdate').val();
        obj.todate = $('#todate').val();
        $.ajax({
            url: '/Distributor/RefreshCreditSum',
            type: "POST",
            data: obj,
            dataType: 'json',
            success: function (data) {
                $('#credit-sum-id').text(data.sum + ' AED')
            }
        });
    }


</script>
