﻿@model ClassLibrary.WebPostModel.Reseller
@{
    ViewBag.Title = "ResellerTransactions";
    Layout = "~/Views/Shared/_distributorLayout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
            <h3 class="pgeTitle">Reseller Transaction History</h3>

            <div class="distributor_credit">
                <div class="distributor_headBtns">
                    <div class="dropdowns_drop">
                        <div class="form-group">
                            @Html.DropDownListFor(z => z.Username, new SelectList(Model.ResellerLists, "ResellerId", "Username"), "Reseller", new { @id = "select_ResellerNames", @class = "form-control" })


                            @*<select class="form-control">
                                <option>Reseller</option>
                            </select>*@
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="select_AgentNames">
                                <option>Agent</option>
                            </select>
                        </div>
                    </div>

                    <div class="datepicker_inp">
                        <div class="dates_pick">
                            <div class="form-group dates_icon">
                                <input type="text" class="form-control" placeholder="From" name="date">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="form-group dates_icon">
                                <input type="text" class="form-control" placeholder="To" name="date">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div><!-- ./dates_pick -->
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered cust-table">
                        <thead>
                            <tr>
                                <th width="70">Sl No</th>
                                <th>Transaction ID</th>
                                <th>Date / Time</th>
                                <th>Mobile Number</th>
                                <th>Type</th>
                                <th>Deducted Price</th>
                                <th>Deducted Price Currency</th>
                                <th>Commision</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>001654789</td>
                                <td>
                                    <p>12-03-2018</p>
                                    <p>09:43 am</p>
                                </td>
                                <td>05689 789 789</td>
                                <td>Etisalat Topup</td>
                                <td>9.77</td>
                                <td>AED</td>
                                <td>2.2</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>001654789</td>
                                <td>
                                    <p>12-03-2018</p>
                                    <p>09:43 am</p>
                                </td>
                                <td>05689 789 789</td>
                                <td>Etisalat Topup</td>
                                <td>9.77</td>
                                <td>AED</td>
                                <td>2.2</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>001654789</td>
                                <td>
                                    <p>12-03-2018</p>
                                    <p>09:43 am</p>
                                </td>
                                <td>05689 789 789</td>
                                <td>Etisalat Topup</td>
                                <td>9.77</td>
                                <td>AED</td>
                                <td>2.2</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>001654789</td>
                                <td>
                                    <p>12-03-2018</p>
                                    <p>09:43 am</p>
                                </td>
                                <td>05689 789 789</td>
                                <td>Etisalat Topup</td>
                                <td>9.77</td>
                                <td>AED</td>
                                <td>2.2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="distributor_form">
                    <div class="form-group cust_formInner">
                        <span>Total : </span>
                        <strong>1000 AED</strong>
                    </div>
                </div><!-- ./distributor_form -->
            </div><!-- ./distributor_credit -->

        </div><!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
    </div><!-- ./row -->
</div>

<script>
    $("#select_ResellerNames").change(function () {
        var values = $(this).val();
        $("#select_AgentNames").html("");
        $("#select_AgentNames").append("<option>Agent</option>");
        $.ajax({
            url: '/Admin/AgentLists',
            type: "POST",
            data: { 'id': values },
            dataType: 'JSON',
            success: function (data) {
                
                $.each(data, function (key, value) {
                    $("#select_AgentNames").append($("<option></option>").attr("value", value.AgentID).text(value.Username));
                });
            }
        });

    });
</script>