﻿@model ClassLibrary.WebPostModel.Reseller
@{
    ViewBag.Title = "resellers";
    Layout = "~/Views/Shared/_distributorLayout.cshtml";
}
<input type="hidden" id="hfn-resellerlist-index" value="0" />

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
            <h3 class="pgeTitle">Reseller <a href="/Distributor/addReseller"><i class="fa fa-plus-circle"></i> Add</a></h3>
            <div class="distributorAll" id="div-reseller-list">
                @{
                    var postModel = new ClassLibrary.WebPostModel.ListResellerModel();
                    postModel.index = 0;
                    postModel.listcount = "10";
                    postModel.userCurrency = "All";
                    postModel.DistributorId = Model.DistributorId;
                }
                @Html.Partial("~/Views/Distributor/_pv_ListResellers.cshtml", postModel)
               
            </div><!-- ./distributorAll -->
            <div class="paging">
                <ul id="ul-resellerlist-pagination">
                    @{
                        var postModelPagination = new ClassLibrary.WebPostModel.ListResellerPaginationModel();
                        postModelPagination.currentIndex = postModel.index;
                        postModelPagination.nextIndex = postModel.index + 1;
                        postModelPagination.listcount = "10";
                        postModelPagination.userCurrency = "All";
                        postModelPagination.DistributorId = postModel.DistributorId;
                    }
                    @Html.Partial("~/Views/Distributor/_pv_ListReseller_Pagination.cshtml", postModelPagination)

                </ul>
            </div>
        </div><!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
    </div><!-- ./row -->
</div>


<script>

    function RefreshResellerList(index) {
        var obj = new Object();
        obj.index = parseInt(index);
        obj.search = $('#txt-search').val();
        obj.listcount = "10";
        obj.userCurrency = "All";
        $.ajax({
            url: '/Distributor/refreshResellerlist',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#div-reseller-list').html(data);
            }
        });
    }

    function RefreshResellerListPagination(currentIndex, nextIndex) {
        var obj = new Object();
        obj.currentIndex = parseInt(currentIndex);
        obj.nextIndex = parseInt(nextIndex);
        obj.search = $('#txt-search').val();
        obj.listcount = "10";
        obj.userCurrency = "All";
        $.ajax({
            url: '/Distributor/refreshResellerlistPagination',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#ul-resellerlist-pagination').html(data);
            }
        });
    }



    $(document).on('click', '#li-listdistributors-pagination-next', function () {
        var index = $('#hfn-resellerlist-index').val();
        RefreshResellerList(parseInt(index) + parseInt(1));
        RefreshResellerListPagination(parseInt(index) + parseInt(1), parseInt($('#hfn-resellerlist-index').val()) + parseInt(2));
        $('#hfn-resellerlist-index').val(parseInt($('#hfn-resellerlist-index').val()) + parseInt(1));
    });

    $(document).on('click', '#li-listdistributors-pagination-prev', function () {
        var index = $('#hfn-resellerlist-index').val();
        RefreshResellerList(parseInt(index) - parseInt(1));
        RefreshResellerListPagination(parseInt(index) - parseInt(1), $('#hfn-resellerlist-index').val()) - parseInt(2);
        $('#hfn-resellerlist-index').val(parseInt($('#hfn-resellerlist-index').val()) - parseInt(1));
    });



    $(document).on('keypress', '#txt-search', function (e) {

        //// Allow: backspace, delete, tab, escape, enter and .
        //if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
        //    // Allow: Ctrl+A, Command+A
        //    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
        //    // Allow: home, end, left, right, down, up
        //    (e.keyCode >= 35 && e.keyCode <= 40)) {
        //    // let it happen, don't do anything
        //    return;
        //}
        //// Ensure that it is a number and stop the keypress
        //if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        //    alert();
        //    e.preventDefault();
        //}

        if (e.keyCode == 13) {
            //alert("Enter pressed");
            $('#hfn-resellerlist-index').val(0);
            var index = $('#hfn-resellerlist-index').val();
            RefreshResellerList(parseInt(index));
            RefreshResellerListPagination(parseInt(index), parseInt($('#hfn-resellerlist-index').val()) + parseInt(1));
        }
    });



    $(document).on('click', '.btn-delete-reseller', function () {
        var source = $(this);
        var resellerId = $(source).attr('data-resellerid');
        swal({
            title: "Are you sure?",
            text: "You are about to delete the reseller!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#004b8d",
            confirmButtonText: "Yes, delete!",
            closeOnConfirm: true
        },
      function (isConfirm) {

          if (isConfirm) {
              $.ajax({
                  url: '/Distributor/deactivateReseller/' + resellerId,
                  type: "GET",
                  dataType: 'json',
                  success: function (data) {
                      if (data.status) {
                          toastr.success("Reseller deleted");
                          var index = $('#hfn-resellerlist-index').val();
                          RefreshResellerList(parseInt(index));
                          RefreshResellerListPagination(parseInt(index), parseInt($('#hfn-resellerlist-index').val()) + parseInt(1));
                      }
                      else {
                          toastr.error("An error has occured");
                      }
                  }
              });
          }
          else {
              //toastr.error("An error has occured");
          }
      });
    });

</script>


