﻿@{
    var _admin = (EntityLibrary.tb_Admin)Session["Admin"];
    var assemblyVersion = System.Reflection.Assembly.GetExecutingAssembly().GetName().ToString();
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Touch & Pay</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/Content/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Theme style -->
    <link rel="shortcut icon" href="/Content/img/favicon.png">
    <link rel="stylesheet" href="/Content/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/Content/dist/css/skin-blue.min.css">
    <link rel="stylesheet" href=@Url.Content("/Content/dist/css/styles.css?v=" + assemblyVersion)>
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <!-- Include Date Range Picker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    @*<link rel="stylesheet" href="@(TouchAndPayWeb.Controllers.UrlHelperExtensions.ContentVersioned(,"/Content/dist/css/styles.css"))">*@
    <link href="~/Content/plugins/IntTelInput/intlTelInput.css" rel="stylesheet" />
    @*<link href="~/Content/plugins/CCPicker/jquery.ccpicker.css" rel="stylesheet" />*@


    <!-- jQuery 2.2.3 -->
    <script src="/Content/plugins/jquery-2.2.3.min.js"></script>

    <link href="~/Content/Plugins/SweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="~/Content/Plugins/SweetAlert/sweetalert.min.js"></script>
    @*<script src="~/Content/plugins/CCPicker/jquery.ccpicker.js"></script>*@
    <script src="~/Content/plugins/IntTelInput/intlTelInput.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    @{
        var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
        var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    }
    <div class="preloder">
        <div class="loder">
            <img src="/Content/img/dash_logo.png" class="loder-img" />
            <span>Please wait loading...</span>
        </div>
    </div>

    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <div class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="/Content/img/dash_logo.png"></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="/Content/img/dash_logo.png"></span>
            </div>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top visible-xs" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span><img src="/Content/img/togle.png"></span>
                </a>
                <div class="centLogo">
                    <img src="/Content/img/logo.png" width="50">
                </div>
            </nav>

        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="menuTitle">Admin</li>
                    <li class="userImg"><img src="@(_admin == null ? "/Content/img/default_profile_pic.jpg" : _admin.ProfilePic ?? string.Empty)"><h4>@(_admin == null ? "" : _admin.FulllName ?? string.Empty)</h4></li>
                    <li><a href="/Admin/home"><span>Home</span></a></li>
                    <li><a href="/Admin/agents"><span>Agent</span> <i class="pull-right fa fa-caret-right"></i></a></li>
                    <li><a href="/Admin/userlist"><span>User</span> <i class="pull-right fa fa-caret-right"></i></a></li>
                    <li><a href="/Admin/distributors"><span>Distributor</span> </a></li>
                    <li><a href="/Admin/DistributorTransactions"><span>Distributor Transactions</span> </a></li>
                    <li><a href="/Admin/transactions"><span>Transaction</span></a></li>
                    <li><a href="/Admin/credithistory"><span>Credit History</span></a></li>

                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-lvl">
                            Cards <span class="caret"></span>
                        </a>

                        <!-- Dropdown level 1 -->
                        <div id="dropdown-lvl" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="/Admin/cards">Regular Cards</a></li>
                                    <li><a href="/Admin/importedcards">Imported Cards</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>



                    @*<li>
                            <a style="cursor:pointer;">
                                <span>Cards</span> <i class="pull-right fa fa-caret-right"></i>
                                <ul>
                                    <li>
                                        <a href="/Admin/cards">
                                            <span>Regular Cards</span>
                                        </a>
                                    </li>
                                    <li>Imported Cards</li>
                                </ul>
                            </a>
                        </li>*@



                    <li><a href="/Admin/settings"><span>Settings</span></a></li>
                    <li><a href="/Admin/logout"><span>Logout</span></a></li>
                </ul>
                <!-- /.sidebar-menu -->

            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">
                @if (action != "agentdetails" && action != "userdetails" && action != "credithistory" && action != "agentcredithistory")
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px !important;">
                        <div class="top-bar">
                            <input type="text" id="txt-search" placeholder="search" class="form-control searchTopbar" />
                        </div>
                    </div>
                }


                @RenderBody()


                <div class="clear"></div>
            </section>
        </div>
        <!-- /.content-wrapper -->


    </div>
    <!-- REQUIRED JS SCRIPTS -->
    <!-- Bootstrap 3.3.6 -->
    <script src="/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/toastr/toastr.min.js"></script>
    <script src="~/Content/plugins/toastr/toastrConfig.js"></script>
    <!-- App -->
    <script src="/Content/dist/js/app.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            $(".preloder").fadeOut();
        });

        $(document)
          .ajaxStart(function () {
              $(".preloder").show();
          })
          .ajaxStop(function () {
              $(".preloder").fadeOut();
          });


        function ajaxFailure() {
            toastrError("An error has occured");
        }

    </script>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            var date_input = $('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            var d = new Date();

            var month = d.getMonth() + 1;
            var day = d.getDate();

            var output =
                (('' + day).length < 2 ? '0' : '') + day + '/' + (('' + month).length < 2 ? '0' : '') + month + '/' + d.getFullYear();

            date_input.datepicker({
                format: 'dd/mm/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true
            })
        })
    </script>
</body>
</html>
