﻿@model ClassLibrary.WebPostModel.ListDistributorPaginationModel
@{
    var distributorListCount = new EntityLibrary.Data.AdminService().getDistributorsCount(Model.nextIndex, Model.search, Model.listcount, Model.userCurrency);
}

@if (Model.nextIndex >= 0 && Model.currentIndex != 0)
{
    <li style="cursor:pointer;"><a id="li-listdistributors-pagination-prev">Prev</a></li>
}
@if (distributorListCount > 0)
{
    <li style="cursor:pointer;"><a id="li-listdistributors-pagination-next">Next</a></li>
}

