﻿@model ClassLibrary.WebPostModel.AgentAssignedCardsPaginationModel
@{
    var agentCardList = new EntityLibrary.Data.AdminService().getAgentAssignedCardsCount(Model.nextIndex, Model.agentId, Model.search, Model.listcount);
}

@if (Model.nextIndex >= 0 && Model.currentIndex != 0)
{
    <li style="cursor:pointer;"><a id="li-assignedcardlist-pagination-prev">Prev</a></li>
}
@if (agentCardList > 0)
{
    <li style="cursor:pointer;"><a id="li-assignedcardlist-pagination-next">Next</a></li>
}
