﻿@model ClassLibrary.WebPostModel.ListUserPaginationModel
@{
    var userListCount = new EntityLibrary.Data.AdminService().getUsersCount(Model.nextIndex, Model.search, Model.listcount);
}

@if (Model.nextIndex >= 0 && Model.currentIndex != 0)
{
    <li style="cursor:pointer;"><a id="li-listusers-pagination-prev">Prev</a></li>
}
@if (userListCount > 0)
{
    <li style="cursor:pointer;"><a id="li-listusers-pagination-next">Next</a></li>
}

