﻿@model ClassLibrary.WebPostModel.ListAgentModel
@{
    var agentList = new EntityLibrary.Data.AdminService().getAgents(Model.index, Model.search, Model.listcount, Model.userCurrency);
}

@if (agentList.Count > 0)
{
    foreach (var agent in agentList)
    {
        <div class="agentList">
            <a href="/Admin/agentdetails/@agent.UserID.ToString()">
                @if (agent.ProfileImage != string.Empty && agent.ProfileImage != null)
                {
                    <img class="img-responsive" src="@agent.ProfileImage">
                }
                else
                {
                    <img class="img-responsive" src="/Content/img/default_profile_pic.jpg">
                }
                <div class="agentTitle">
                    <h4>@agent.Mobile</h4>
                    <h5>@agent.Username</h5>
                </div>
            </a>
            <button style="float: right; margin-left: 5px;" data-agentid="@agent.UserID.ToString()" class="btn btn-assign btn-delete-agent">Delete</button>
            @if (agent.IsBlocked)
            {
                <button style="float: right;" data-isblocked="@agent.IsBlocked" data-agentid="@agent.UserID.ToString()" class="btn btn-assign btn-block-agent">Unblock</button>
            }
            else
            {
                <button style="float: right;" data-isblocked="@agent.IsBlocked" data-agentid="@agent.UserID.ToString()" class="btn btn-assign btn-block-agent">Block</button>
            }

        </div>
    }
}

