﻿@model ClassLibrary.WebPostModel.AgentAssignedCards
@{
    var agentCardList = new EntityLibrary.Data.AdminService().getAgentAssignedCards(Model.index, Model.agentId, Model.search, Model.listcount);
}
@if (agentCardList.Count > 0)
{
    int slno = 1;
    int count = 10;
    try
    {
         count = Convert.ToInt32(Model.listcount);
    }
    catch (Exception ex)
    {
        count = 10;
    }
    foreach (var card in agentCardList)
    {
        <tr>
            <td>@((Model.index * count) + slno)</td>
            <td>@(card.CardNumber ?? string.Empty)</td>
            @*<td>@(card.History == null ? "-" : card.History.UsedTime.ToString("dd-MM-yyyy"))</td>
                <td>@(card.History == null ? "-" : card.History.UserData == null ? "-" : card.History.UserData.Mobile)</td>*@
            <td>@(card.Currency ?? string.Empty)</td>
             <td>@(card.Amount.ToString() ?? string.Empty)</td>
            <td>@(card.History == null ? "-" : "Used")</td>
            <td>
                @if (card.History == null)
                {
                    <label class="switch">
                        <input type="checkbox" data-cardid="@card.CardId" class="chk-update-card-status" @(card.IsDeactivated == false ? "checked" : "")>
                        <span class="slider round"></span>
                    </label>
                }
                else
                {
                    <label class="switch">-</label>
                }
            </td>
        </tr>
                slno = slno + 1;
    }
}
else
{
    <tr>
        <td colspan="5"> No Cards Found</td>
    </tr>
}
