﻿@model ClassLibrary.WebPostModel.AgentTransactions
@{
    var transaction = new EntityLibrary.Data.AdminService().getUserTransactionWeb(Model.agentId, Model.index, Model.listcount, Model.search);
}

@if (transaction.Count > 0)
{
    int slno = 1;
    int count = 10;
    try
    {
        count = Convert.ToInt32(Model.listcount);
    }
    catch (Exception ex)
    {
        count = 10;
    }
    foreach (var item in transaction)
    {
        <tr>
            <td>@((Model.index * count) + slno)</td>
            @if (item.transactionid == null || item.transactionid == string.Empty)
            {
                <td>-</td>
            }
            else
            { 
                <td>@item.transactionid</td>
            }
            <td>@item.transactiontime.ToString("dd-MM-yyyy HH:mm:ss")</td>
            <td>@item.rechargenumber</td>
            @*<td>@item.apiProviderString</td>*@
            <td>@item.ProductType.ToString()</td>
            @*<td>@item.amount.ToString()</td>*@
            <td>@item.amountdeducted.ToString()</td>
            <td>@item.amountdeductedcurrency.ToString()</td>
            <td>@item.Commission.ToString()</td>
        </tr>

            slno = slno + 1;
    }
}
else
{
    <tr>
        <td colspan="8"> No Transactions Found</td>
    </tr>
}
