﻿
@model ClassLibrary.WebPostModel.ImportedCardlistPaginationModel
@{
    var cardListCount = new EntityLibrary.Data.AdminService().getImportedCardsCount(Model.nextIndex, Model.search, Model.listcount);
}

@if (Model.nextIndex >= 0 && Model.currentIndex != 0)
{
    <li style="cursor:pointer;"><a id="li-imported-pagination-prev">Prev</a></li>
}
@if (cardListCount > 0)
{
    <li style="cursor:pointer;"><a id="li-imported-pagination-next">Next</a></li>
}
