﻿@{
    ViewBag.Title = "agents";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    //var agentList = new EntityLibrary.Data.AdminService().getAgents(0,"");
    var agentCurrencyList = new EntityLibrary.Data.AdminService().getAgentCurrency();
}
<style>
    .total-vl h4 {
        margin: 15px 0px;
    }

        .total-vl h4 span {
            width: 160px;
            display: inline-block;
        }
</style>


<input type="hidden" id="hfn-agentlist-index" value="0" />




<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
            <div class="addBtn">
                <a href="/Admin/addagent"><i class="fa fa-plus"></i> Add new agent</a>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="total-vl">
                                            <h4>
                                                <span>Currency </span>:
                                                <select class="form-control" id="select-users-on-currency" style="width:152px; display:inline-block; margin-left:11px;">
                                                    <option value="All">Please select</option>
                                                    @if (agentCurrencyList.Count > 0)
                                                    {
                                                        foreach (var item in agentCurrencyList)
                                                        {
                                                            <option value="@item.ToString()">@item.ToString()</option>
                                                        }
                                                    }
                                                </select>
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="total-vl">
                                            <h4><span>Total Wallet Balance</span>: <label style="margin-left: 11px;" id="lbl-totalwallet-agent"> - </label></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <select class="form-control select-listcount-value pull-right" style="width: 80px;">
                        <option selected value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>

            <div class="agentlistFull" id="div-agent-list">

                @{
                    var postModel = new ClassLibrary.WebPostModel.ListAgentModel();
                    postModel.index = 0;
                    postModel.listcount = "10";
                    postModel.userCurrency = "All";
                }
                @Html.Partial("~/Views/Admin/_pv_ListAgents.cshtml", postModel)

            </div>

            <div class="paging">
                <ul id="ul-agentlist-pagination">
                    @{
                        var postModelPagination = new ClassLibrary.WebPostModel.ListAgentPaginationModel();
                        postModelPagination.currentIndex = postModel.index;
                        postModelPagination.nextIndex = postModel.index + 1;
                        postModelPagination.listcount = "10";
                        postModelPagination.userCurrency = "All";
                    }
                    @Html.Partial("~/Views/Admin/_pv_ListAgtents_Pagination.cshtml", postModelPagination)

                </ul>
            </div>

        </div><!-- ./col-lg-3 col-md-3 col-sm-12 col-xs-12 -->
    </div><!-- ./row -->
</div>


<script>

    $(document).on('change', '#select-users-on-currency', function () {

        var currency = $("#select-users-on-currency option:selected").val();
        if (currency == "All") {
            $('#lbl-totalwallet-agent').text("-");
            $('#hfn-agentlist-index').val(0);
            var index = $('#hfn-agentlist-index').val();
            RefreshAgentList(parseInt(index));
            RefreshAgentListPagination(parseInt(index), parseInt($('#hfn-agentlist-index').val()) + parseInt(1));
        }
        else {

            $.ajax({
                url: '/Admin/getAllAngentsWalletByCurrency?currency=' + currency,
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    if (data.status) {
                        $('#lbl-totalwallet-agent').text(data.total);
                        $('#hfn-agentlist-index').val(0);
                        var index = $('#hfn-agentlist-index').val();
                        RefreshAgentList(parseInt(index));
                        RefreshAgentListPagination(parseInt(index), parseInt($('#hfn-agentlist-index').val()) + parseInt(1));
                    }
                }
            });
        }



    });

</script>



<script>


    function RefreshAgentList(index) {
        var obj = new Object();
        obj.index = parseInt(index);
        obj.search = $('#txt-search').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        obj.userCurrency = $("#select-users-on-currency option:selected").val();
        $.ajax({
            url: '/Admin/refreshAgentlist',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#div-agent-list').html(data);
            }
        });
    }

    function RefreshAgentListCountChange(index) {
        var obj = new Object();
        obj.index = parseInt(index);
        obj.search = $('#txt-search').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        obj.userCurrency = $("#select-users-on-currency option:selected").val();
        $.ajax({
            url: '/Admin/refreshAgentlist',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#div-agent-list').html(data);
            }
        });
    }


    function RefreshAgentListPagination(currentIndex, nextIndex) {
        var obj = new Object();
        obj.currentIndex = parseInt(currentIndex);
        obj.nextIndex = parseInt(nextIndex);
        obj.search = $('#txt-search').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        obj.userCurrency = $("#select-users-on-currency option:selected").val();
        $.ajax({
            url: '/Admin/refreshAgentlistPagination',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#ul-agentlist-pagination').html(data);
            }
        });
    }



    $(document).on('click', '#li-listagents-pagination-next', function () {
        var index = $('#hfn-agentlist-index').val();
        RefreshAgentList(parseInt(index) + parseInt(1));
        RefreshAgentListPagination(parseInt(index) + parseInt(1), parseInt($('#hfn-agentlist-index').val()) + parseInt(2));
        $('#hfn-agentlist-index').val(parseInt($('#hfn-agentlist-index').val()) + parseInt(1));
    });

    $(document).on('click', '#li-listagents-pagination-prev', function () {
        var index = $('#hfn-agentlist-index').val();
        RefreshAgentList(parseInt(index) - parseInt(1));
        RefreshAgentListPagination(parseInt(index) - parseInt(1), $('#hfn-agentlist-index').val()) - parseInt(2);
        $('#hfn-agentlist-index').val(parseInt($('#hfn-agentlist-index').val()) - parseInt(1));
    });


    $(document).on('change', '.select-listcount-value', function () {
        var source = $(this);
        $('#hfn-agentlist-index').val(0);
        $(".select-listcount-value").val($(".select-listcount-value option:selected").val());
        var index = $('#hfn-agentlist-index').val();
        RefreshAgentList(parseInt(index));
        RefreshAgentListPagination(parseInt(index), parseInt($('#hfn-agentlist-index').val()) + parseInt(1));
    });


    $(document).on('keypress', '#txt-search', function (e) {

        //// Allow: backspace, delete, tab, escape, enter and .
        //if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
        //    // Allow: Ctrl+A, Command+A
        //    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
        //    // Allow: home, end, left, right, down, up
        //    (e.keyCode >= 35 && e.keyCode <= 40)) {
        //    // let it happen, don't do anything
        //    return;
        //}
        //// Ensure that it is a number and stop the keypress
        //if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        //    alert();
        //    e.preventDefault();
        //}

        if (e.keyCode == 13) {
            //alert("Enter pressed");
            $('#hfn-agentlist-index').val(0);
            var index = $('#hfn-agentlist-index').val();
            RefreshAgentList(parseInt(index));
            RefreshAgentListPagination(parseInt(index), parseInt($('#hfn-agentlist-index').val()) + parseInt(1));
        }
    });

    $(document).on('click', '.btn-delete-agent', function () {
        var source = $(this);
        var agentId = $(source).attr('data-agentid');
        swal({
            title: "Are you sure?",
            text: "You are about to delete the agent!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#004b8d",
            confirmButtonText: "Yes, delete!",
            closeOnConfirm: true
        },
      function (isConfirm) {

          if (isConfirm) {
              $.ajax({
                  url: '/Admin/deactivateagent/' + agentId,
                  type: "GET",
                  dataType: 'json',
                  success: function (data) {
                      if (data.status) {
                          toastr.success("Agent deleted");
                          var index = $('#hfn-agentlist-index').val();
                          RefreshAgentList(parseInt(index));
                          RefreshAgentListPagination(parseInt(index), parseInt($('#hfn-agentlist-index').val()) + parseInt(1));
                      }
                      else {
                          toastr.error("An error has occured");
                      }
                  }
              });
          }
          else {
              //toastr.error("An error has occured");
          }
      });
    });


    $(document).on('click', '.btn-block-agent', function () {
        var source = $(this);
        var agentId = $(source).attr('data-agentid');
        var isblocked = $(source).attr('data-isblocked');
        var message = "";
        var confirmMessage = "";
        if (isblocked == "True") {
            message = "You are about to unblock the agent!";
            confirmMessage = "Yes, unblock!";
        }
        else {
            message = "You are about to block the agent!";
            confirmMessage = "Yes, block!";
        }


        swal({
            title: "Are you sure?",
            text: message,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#004b8d",
            confirmButtonText: confirmMessage,
            closeOnConfirm: true
        },
      function (isConfirm) {

          if (isConfirm) {
              $.ajax({
                  url: '/Admin/blockagent/' + agentId,
                  type: "GET",
                  dataType: 'json',
                  success: function (data) {
                      if (data.status) {
                          debugger;
                          if (isblocked == "True") {
                              $(source).attr('data-isblocked', "False");
                              $(source).text("Block")
                              toastr.success("Agent Unblocked");
                          }
                          else {
                              $(source).attr('data-isblocked', "True");
                              $(source).text("UnBlock")
                              toastr.success("Agent blocked");
                          }
                      }
                      else {
                          toastr.error("An error has occured");
                      }
                  }
              });
          }
          else {
              //toastr.error("An error has occured");
          }
      });
    });


</script>
