﻿@model ClassLibrary.WebPostModel.AgentAssignedCards
@{
    ViewBag.Title = "agentassignedcards";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<input type="hidden" id="hfn-assignedcardlist-index" value="0" />
<input type="hidden" id="hfn-assignedcardlist-agentId" value=@Model.agentId />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
    <div class="addBtn">
        <a style="cursor:pointer;" onclick="history.back()">Back</a>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
    <select class="form-control select-listcount-value" style="width: 80px;">
        <option selected value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="table-responsive">
        <table class="table table-bordered cust-table">
            <thead>
                <tr>
                    <th width="70">Sl No</th>
                    <th>Card number</th>
                    @*<th>Date / Time</th>*@
                    @*<th>Mobile Number</th>*@
                    <th>Currency</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Activate/Deactivate</th>
                </tr>
            </thead>
            <tbody id="tbody-assignedcardlist">
                @{
                    var postModel = new ClassLibrary.WebPostModel.AgentAssignedCards();
                    postModel.agentId = Model.agentId;
                    postModel.index = 0;
                    postModel.listcount = "10";
                }
                @Html.Partial("~/Views/Admin/_pv_list_AgentAssignedCards.cshtml", postModel)
            </tbody>
        </table>
    </div>
    <div class="paging">
        <ul id="ul-assignedcardlist-pagination">
            @{
                var postModelPagination = new ClassLibrary.WebPostModel.AgentAssignedCardsPaginationModel();
                postModelPagination.currentIndex = postModel.index;
                postModelPagination.agentId = Model.agentId;
                postModelPagination.nextIndex = postModel.index + 1;
                postModelPagination.listcount = "10";
            }
            @Html.Partial("~/Views/Admin/_pv_list_AgentAssignedCards_Pagination.cshtml", postModelPagination)

        </ul>
    </div>
</div>

<script>

    function RefreshAssignedCardList(index, agentId) {
        var obj = new Object();
        obj.index = parseInt(index);
        obj.agentId = parseInt(agentId);
        obj.search = $('#txt-search').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        $.ajax({
            url: '/Admin/refreshAgentAssignedCardlist',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#tbody-assignedcardlist').html(data);
            }
        });
    }

    function RefreshAssignedCardListPagination(currentIndex, nextIndex, agentId) {
        var obj = new Object();
        obj.currentIndex = parseInt(currentIndex);
        obj.nextIndex = parseInt(nextIndex);
        obj.agentId = parseInt(agentId);
        obj.search = $('#txt-search').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        $.ajax({
            url: '/Admin/refreshAgentAssignedCardlistPagination',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#ul-assignedcardlist-pagination').html(data);
            }
        });
    }


    $(document).on('keypress', '#txt-search', function (e) {

        //// Allow: backspace, delete, tab, escape, enter and .
        //if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
        //    // Allow: Ctrl+A, Command+A
        //    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
        //    // Allow: home, end, left, right, down, up
        //    (e.keyCode >= 35 && e.keyCode <= 40)) {
        //    // let it happen, don't do anything
        //    return;
        //}
        //// Ensure that it is a number and stop the keypress
        //if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        //    alert();
        //    e.preventDefault();
        //}

        if (e.keyCode == 13) {
            //alert("Enter pressed");
            $('#hfn-assignedcardlist-index').val(0);
            var index = $('#hfn-assignedcardlist-index').val();
            var agentId = $('#hfn-assignedcardlist-agentId').val();
            RefreshAssignedCardList(parseInt(index), parseInt(agentId));
            RefreshAssignedCardListPagination(parseInt(index), parseInt($('#hfn-assignedcardlist-index').val()) + parseInt(1), parseInt(agentId));
        }
    });

    $(document).on('change', '.select-listcount-value', function () {
        var source = $(this);
        $('#hfn-assignedcardlist-index').val(0);
        $(".select-listcount-value").val($(".select-listcount-value option:selected").val());
        var index = $('#hfn-assignedcardlist-index').val();
        var agentId = $('#hfn-assignedcardlist-agentId').val();
        RefreshAssignedCardList(parseInt(index), parseInt(agentId));
        RefreshAssignedCardListPagination(parseInt(index), parseInt($('#hfn-assignedcardlist-index').val()) + parseInt(1), parseInt(agentId));
    });

    $(document).on('click', '#li-assignedcardlist-pagination-next', function () {
        var index = $('#hfn-assignedcardlist-index').val();
        var agentId = $('#hfn-assignedcardlist-agentId').val();
        RefreshAssignedCardList(parseInt(index) + parseInt(1), agentId);
        RefreshAssignedCardListPagination(parseInt(index) + parseInt(1), parseInt($('#hfn-assignedcardlist-index').val()) + parseInt(2), parseInt(agentId));
        $('#hfn-assignedcardlist-index').val(parseInt($('#hfn-assignedcardlist-index').val()) + parseInt(1));
    });

    $(document).on('click', '#li-assignedcardlist-pagination-prev', function () {
        var index = $('#hfn-assignedcardlist-index').val();
        var agentId = $('#hfn-assignedcardlist-agentId').val();
        RefreshAssignedCardList(parseInt(index) - parseInt(1), agentId);
        RefreshAssignedCardListPagination(parseInt(parseInt(index) - parseInt(1), $('#hfn-assignedcardlist-index').val()) - parseInt(2), parseInt(agentId));
        $('#hfn-assignedcardlist-index').val(parseInt($('#hfn-assignedcardlist-index').val()) - parseInt(1));
    });

</script>
