﻿@{
    ViewBag.Title = "cards";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<input type="hidden" id="hfn-cardlist-index" value="0" />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
            @*<div class="addBtn search_Btn">
                    <input type="text" class="form-control" placeholder="Search">
                </div>*@
            <div class="addBtn" style="display:none;">
                <a data-toggle="modal" data-target="#myModal" style="margin-left:10px;cursor:pointer;"><i class="fa fa-check-circle"></i> Assign</a>
            </div>

            <div class="addBtn">
                <a data-toggle="modal" data-target="#myModal2" style="margin-left: 10px; cursor: pointer;"><i class="fa fa-file-text-o"></i> Generate</a>
            </div>
            <div class="addBtn">
                <a id="btn-exportcard-to-excel" style="margin-left: 10px; cursor: pointer;"><i class="fa fa-file-text-o"></i> Export To Excel</a>
            </div>
            <div class="addBtn">
                <a id="btn-exportcardall-to-excel" style="margin-left: 10px; cursor: pointer;"><i class="fa fa-file-text-o"></i> Export All To Excel</a>
            </div>

            @*<div class="addBtn">
                <a id="btn-importcard-from-excel" data-toggle="modal" data-target="#myModal3" style="margin-left: 10px; cursor: pointer;"><i class="fa fa-file-text-o"></i> Import Card From Excel</a>
            </div>*@

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
            <select class="form-control select-listcount-value" style="width: 80px;">
                <option selected value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered cust-table">
                    <thead>
                        <tr>
                            <th width="70">Sl No</th>
                            <th>Card no</th>
                            <th>Created Date / Time</th>
                            <th>Currency</th>
                            <th>Amount</th>
                            @*<th>Provider</th>*@
                            <th width="200">Status</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-carlist">
                        @{
                            var postModel = new ClassLibrary.WebPostModel.RechargeCardlistModel();
                            postModel.index = 0;
                            postModel.listcount = "10";
                        }
                        @Html.Partial("~/Views/Admin/_pv_ListRechargeCards.cshtml", postModel)
                    </tbody>
                </table>
            </div>

            <div class="paging">
                <ul id="ul-cardlist-pagination">
                    @{
                        var postModelPagination = new ClassLibrary.WebPostModel.RechargeCardlistPaginationModel();
                        postModelPagination.currentIndex = postModel.index;
                        postModelPagination.nextIndex = postModel.index + 1;
                        postModelPagination.listcount = "10";
                    }
                    @Html.Partial("~/Views/Admin/_pv_ListRechargeCards_Pagination.cshtml", postModelPagination)

                </ul>
            </div>
        </div><!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
    </div><!-- ./row -->
</div>



<!-- Modal -->
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header cust-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-check-circle"></i> Import Card</h4>
            </div>
            <div class="modal-body">
                <div class="assign">
                    <div class="form-group">
                        <span>Select File : </span>
                        <input type="file" id="import-card-file" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btn-import-cards" class="btn btn-assign">Import</button>
            </div>
        </div>

    </div>
</div>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header cust-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-check-circle"></i> Assign</h4>
            </div>
            <div class="modal-body">
                <div class="assign">
                    <div class="form-group">
                        <span>Rs : </span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <span>Count : </span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <span>Agent : </span>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-assign">Assign</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal 2 -->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header cust-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-file-text-o"></i> Generate</h4>
            </div>
            <div class="modal-body">
                <div class="assign">
                    <div class="form-group">
                        <span>Amount : </span>
                        <input type="text" class="form-control" id="rechargecard-amount">
                    </div>
                    <div class="form-group">
                        <span>No of cards : </span>
                        <input type="text" class="form-control" id="rechargecard-count">
                    </div>
                    <div class="form-group">
                        <span>Currency : </span>
                        <select class="form-control" style="width: calc(100% - 200px); border: 1px solid #ccc;" id="rechargecard-currency">
                            @foreach (var item in new EntityLibrary.Data.AdminService().getAdminCurrency())
                            {
                            <option value="@item.ToString()">@item.ToString()</option>
                            }
                        </select>
                    </div>
                    @*<div class="form-group">
                            <span>Provider : </span>
                            <input type="text" class="form-control">
                        </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btn-genrate-cards" class="btn btn-assign">Generate</button>
            </div>
        </div>

    </div>
</div>


<script>

    $(document).on('click', '#btn-import-cards', function () {
        debugger;
        var file = $('#import-card-file')[0].files[0];
        var fileName = $('#import-card-file')[0].files[0].name;
        var fileType = fileName.substr((fileName.lastIndexOf('.') + 1));
        var ValidImageTypes = ["xlsx", "xls"];
        if ($.inArray(fileType, ValidImageTypes) < 0) {
            toastr.error("Invalid file type");
        }
        else {

            $.ajax({
                url: '/Admin/importdatafromexcel',
                type: "POST",
                data: function () {
                    var data = new FormData();
                    data.append("file", file);
                    return data;
                }(),
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.status) {
                        toastrSuccess('Card Imported');
                        $('#myModal3').modal('hide');
                        $('#import-card-file').val('');
                        //setTimeout(function () {
                        //    location.reload();
                        //}, 300);
                    }
                    else {
                        toastrError(data.message);
                    }
                }
            });

        }
    });

</script>


<script>
    $(document).on('click', '#btn-genrate-cards', function () {
        if ($('#rechargecard-amount').val() == '') {
            $('#rechargecard-amount').css('border-color', 'red');
            if ($('#rechargecard-count').val() == '') {
                $('#rechargecard-count').css('border-color', 'red')
            }
            else {
                $('#rechargecard-count').css('border-color', '#ccc')
            }
        }
        else {
            $('#rechargecard-amount').css('border-color', '#ccc');
            if ($('#rechargecard-count').val() == '') {
                $('#rechargecard-count').css('border-color', 'red')
            }
            else {
                $('#rechargecard-count').css('border-color', '#ccc')

                var obj = new Object();
                obj.amount = $('#rechargecard-amount').val();
                obj.count = $('#rechargecard-count').val();
                obj.currency = $("#rechargecard-currency option:selected").val();

                $.ajax({
                    url: '/Admin/addrechargecard',
                    type: "POST",
                    data: obj,
                    dataType: 'json',
                    success: function (data) {
                        if (data.status) {
                            toastrSuccess('Recharge card added');
                            //$('#myModal2').modal('hide');
                            setTimeout(function () {
                                location.reload();
                            }, 300);
                        }
                        else {
                            toastrError(data.message);
                        }
                    }
                });


            }
        }

    });
    $(document).on('keydown', "#rechargecard-amount , #rechargecard-count", function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });


    $(document).on('keypress', '#txt-search', function (e) {

        //// Allow: backspace, delete, tab, escape, enter and .
        //if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
        //    // Allow: Ctrl+A, Command+A
        //    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
        //    // Allow: home, end, left, right, down, up
        //    (e.keyCode >= 35 && e.keyCode <= 40)) {
        //    // let it happen, don't do anything
        //    return;
        //}
        //// Ensure that it is a number and stop the keypress
        //if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        //    alert();
        //    e.preventDefault();
        //}

        if (e.keyCode == 13) {
            //alert("Enter pressed");
            $('#hfn-cardlist-index').val(0);
            var index = $('#hfn-cardlist-index').val();
            RefreshCardList(parseInt(index));
            RefreshCardListPagination(parseInt(index), parseInt($('#hfn-cardlist-index').val()) + parseInt(1));
        }
    });

    function RefreshCardList(index) {
        var obj = new Object();
        obj.index = parseInt(index);
        obj.search = $('#txt-search').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        $.ajax({
            url: '/Admin/refreshRechargeCardlist',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#tbody-carlist').html(data);
            }
        });
    }

    function RefreshCardListPagination(currentIndex, nextIndex) {
        var obj = new Object();
        obj.currentIndex = parseInt(currentIndex);
        obj.nextIndex = parseInt(nextIndex);
        obj.search = $('#txt-search').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        $.ajax({
            url: '/Admin/refreshRechargeCardlistPagination',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#ul-cardlist-pagination').html(data);
            }
        });
    }



    $(document).on('click', '#li-pagination-next', function () {
        var index = $('#hfn-cardlist-index').val();
        RefreshCardList(parseInt(index) + parseInt(1));
        RefreshCardListPagination(parseInt(index) + parseInt(1), parseInt($('#hfn-cardlist-index').val()) + parseInt(2));
        $('#hfn-cardlist-index').val(parseInt($('#hfn-cardlist-index').val()) + parseInt(1));
    });

    $(document).on('click', '#li-pagination-prev', function () {
        var index = $('#hfn-cardlist-index').val();
        RefreshCardList(parseInt(index) - parseInt(1));
        RefreshCardListPagination(parseInt(parseInt(index) - parseInt(1)), parseInt($('#hfn-cardlist-index').val()) - parseInt(2));
        $('#hfn-cardlist-index').val(parseInt($('#hfn-cardlist-index').val()) - parseInt(1));
    });

    $(document).on('change', '.select-listcount-value', function () {
        var source = $(this);
        $('#hfn-cardlist-index').val(0);
        $(".select-listcount-value").val($(".select-listcount-value option:selected").val());
        var index = $('#hfn-cardlist-index').val();
        RefreshCardList(parseInt(index));
        RefreshCardListPagination(parseInt(index), parseInt($('#hfn-cardlist-index').val()) + parseInt(1));
    });


    $(document).on('click', '.chk-update-card-status', function () {
        var source = $(this);
        var isChecked = $(this).is(':checked');
        var cardId = $(this).attr('data-cardid');
        var text = "";
        if (isChecked == true)
            text = "activate";
        else
            text = "deactivate";
        swal({
            title: "Are you sure?",
            text: "You are about to " + text + " this card!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#004b8d",
            confirmButtonText: "Yes, " + text + " it!",
            closeOnConfirm: true
        },
       function (isConfirm) {
           if (isConfirm) {
               $.ajax({
                   url: '/Admin/updateCard/' + cardId,
                   type: "GET",
                   dataType: 'json',
                   success: function (data) {
                       if (data.status) {
                           toastr.success("Card " + text + "ed");
                       }
                       else {
                           toastr.error("An error has occured");
                       }
                   }
               });
           }
           else {
               if (isChecked == true)
                   $(source).prop('checked', false);
               else
                   $(source).prop('checked', true);
           }
       });

    });


    $(document).on('click', '#btn-exportcard-to-excel', function () {

        var source = $(this);
        $.ajax({
            url: '/Admin/exportDataToExcel?type=partial',
            type: "GET",
            dataType: 'json',
            success: function (data) {
                if (data.status) {
                    window.location = '/Admin/Download?filename=' + data.filename + '&filepath=' + data.filepath;
                }
                else {
                    //toastrError("An error has occured");
                    toastrError(data.message);
                    //console.log(data.message);
                }
            }
        });
    });
    $(document).on('click', '#btn-exportcardall-to-excel', function () {

        var source = $(this);
        $.ajax({
            url: '/Admin/exportDataToExcel?type=all',
            type: "GET",
            dataType: 'json',
            success: function (data) {
                if (data.status) {
                    window.location = '/Admin/Download?filename=' + data.filename + '&filepath=' + data.filepath;
                }
                else {
                    //toastrError("An error has occured");
                    toastrError(data.message);
                    //console.log(data.message);
                }
            }
        });
    });


</script>
