﻿@model ClassLibrary.WebPostModel.DistributorCredit
@{
    ViewBag.Title = "distributorcredit";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    var distributor = new EntityLibrary.Data.Distributor(Model.distributorId);
}


<input type="hidden" id="hfn-distributorcredithistorylist-index" value="0" />
<input type="hidden" id="hfn-distributorcredithistorylist-distributorid" value="@Model.distributorId" />

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
            <h3 class="pgeTitle">Distributor</h3>

            <div class="distributor_credit">
                <div class="distributor_form">
                    @using (Ajax.BeginForm("AddDistributorCredit", "Admin", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "AddDistributorCreditSuccess",
                OnFailure = "ajaxFailure",
            }, new { id = "touch&pay-AddDistributorCredit" }))
                    {
                        @Html.HiddenFor(m => m.distributorId, new { Value = Model.distributorId })
                        <div class="form-group cust_formInner">
                            <span>Total Amount : </span>
                            <div>
                                @Html.TextBoxFor(m => m.amount, new { autocomplete = "off", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.amount)
                                @*    <input type="text" class="form-control">*@
                                <button type="submit">Credit</button>
                            </div>
                        </div>
                    }

                    <div class="form-group cust_formInner">
                        <span>Balance : </span>
                        @if (distributor != null)
                        {
                            <strong>@distributor.Wallet AED</strong>
                        }
                        else
                        {
                            <strong>0 AED</strong>
                        }
                    </div>
                </div>
            </div><!-- ./distributor_credit -->

            <div class="distributor_credit">
                <h4 class="pgeTitle">History</h4>

                <div class="dates_pick">
                    <div class="form-group dates_icon">
                        <input type="text" class="form-control" id="fromdate" placeholder="From" name="date">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="form-group dates_icon">
                        <input type="text" class="form-control" id="todate" placeholder="To" name="date">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="form-group dates_icon">
                        <button type="button" class="btn" id="filter-submit">Filter</button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered cust-table">
                        <thead>
                            <tr>
                                <th width="70">Sl No</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-distributorcredithistorylist">
                            @{
                                var model = new ClassLibrary.WebPostModel.DistributorCreditHistoryListModel();
                                model.distributorId = Model.distributorId;
                                model.search = "";
                                model.listcount = "10";
                                model.index = 0;
                                model.fromdate = "";
                                model.todate = "";
                            }
                            @Html.Partial("~/Views/Admin/_pv_distributor_Credit_HistoryList.cshtml", model)
                        </tbody>
                    </table>
                </div>
                <div class="paging">
                    <ul id="ul-distributorcredithistorylist-pagination">
                        @{
                            var postModelPagination = new ClassLibrary.WebPostModel.DistributorCreditHistoryListPaginationModel();
                            postModelPagination.currentIndex = model.index;
                            postModelPagination.nextIndex = model.index + 1;
                            postModelPagination.listcount = "10";
                            postModelPagination.search = "";
                            postModelPagination.distributorId = Model.distributorId;
                            postModelPagination.fromdate = "";
                            postModelPagination.todate = "";
                        }
                        @Html.Partial("~/Views/Admin/_pv_distributor_Credit_History_Pagination.cshtml", postModelPagination)

                    </ul>
                </div>

                <div class="distributor_form">
                    <div class="form-group cust_formInner">
                        <span>Total : </span>
                        @if (distributor != null)
                        {
                            <strong id="credit-sum-id">@distributor.CreditTotal AED</strong>
                        }
                        else
                        {
                            <strong>0 AED</strong>
                        }
                    </div>
                </div>
            </div><!-- ./distributor_credit -->

        </div><!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
    </div><!-- ./row -->
</div>



<script>

    function AddDistributorCreditSuccess(data) {
        if (data.status) {
            toastrSuccess(data.message)
            setTimeout(function () {
                location.reload();
            }, 300);
        }
        else {
            toastrError(data.message);
        }
    }


    $(document).on('keydown', '#amount', function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
</script>



<script>

    function RefreshDistributorCreditHistorylist(index) {
        var obj = new Object();
        obj.index = parseInt(index);
        obj.search = "";
        obj.distributorId = $('#hfn-distributorcredithistorylist-distributorid').val();
        obj.listcount = "10";
        obj.fromdate = $('#fromdate').val();
        obj.todate = $('#todate').val();
        $.ajax({
            url: '/Admin/refreshDistributorCreditlist',
            type: "POST",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#tbody-distributorcredithistorylist').html(data);
            }
        });
    }

    function RefreshDistributorCreditHistorylistPagination(currentIndex, nextIndex) {
        var obj = new Object();
        obj.currentIndex = parseInt(currentIndex);
        obj.nextIndex = parseInt(nextIndex);
        obj.distributorId = $('#hfn-distributorcredithistorylist-distributorid').val();
        obj.search = "";
        obj.listcount = "10";
        obj.fromdate = $('#fromdate').val();
        obj.todate = $('#todate').val();
        $.ajax({
            url: '/Admin/refreshDistributorCreditlistPagination',
            type: "POST",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#ul-distributorcredithistorylist-pagination').html(data);
            }
        });
    }

    $(document).on('click', '#li-distributorhistoryList-pagination-next', function () {
        var index = $('#hfn-distributorcredithistorylist-index').val();
        RefreshDistributorCreditHistorylist(parseInt(index) + parseInt(1));
        RefreshDistributorCreditHistorylistPagination(parseInt(index) + parseInt(1), parseInt($('#hfn-distributorcredithistorylist-index').val()) + parseInt(2));
        $('#hfn-distributorcredithistorylist-index').val(parseInt($('#hfn-distributorcredithistorylist-index').val()) + parseInt(1));
    });

    $(document).on('click', '#li-distributorhistoryList-pagination-prev', function () {
        var index = $('#hfn-distributorcredithistorylist-index').val();
        RefreshDistributorCreditHistorylist(parseInt(index) - parseInt(1));
        RefreshDistributorCreditHistorylistPagination(parseInt(index) - parseInt(1), parseInt($('#hfn-distributorcredithistorylist-index').val()) - parseInt(2));
        $('#hfn-distributorcredithistorylist-index').val(parseInt($('#hfn-distributorcredithistorylist-index').val()) - parseInt(1));
    });

    //$(document).on('change', '#todate', function () {
    //    $('#hfn-distributorcredithistorylist-index').val(0);
    //    var index = $('#hfn-distributorcredithistorylist-index').val();
    //    RefreshDistributorCreditHistorylist(parseInt(index));
    //    RefreshDistributorCreditHistorylistPagination(parseInt(index), parseInt($('#hfn-distributorcredithistorylist-index').val()) + parseInt(1));
    //    RefreshCreditSum();
    //});
    //$(document).on('change', '#fromdate', function () {
    //    $('#hfn-distributorcredithistorylist-index').val(0);
    //    var index = $('#hfn-distributorcredithistorylist-index').val();
    //    RefreshDistributorCreditHistorylist(parseInt(index));
    //    RefreshDistributorCreditHistorylistPagination(parseInt(index), parseInt($('#hfn-distributorcredithistorylist-index').val()) + parseInt(1));
    //    RefreshCreditSum();
    //});

    $(document).on('click', '#filter-submit', function () {
        $('#hfn-distributorcredithistorylist-index').val(0);
        var index = $('#hfn-distributorcredithistorylist-index').val();
        RefreshDistributorCreditHistorylist(parseInt(index));
        RefreshDistributorCreditHistorylistPagination(parseInt(index), parseInt($('#hfn-distributorcredithistorylist-index').val()) + parseInt(1));
        RefreshCreditSum();
    });


    function RefreshCreditSum() {
        var obj = new Object();
        obj.distributorId = $('#hfn-distributorcredithistorylist-distributorid').val();
        obj.fromdate = $('#fromdate').val();
        obj.todate = $('#todate').val();
        $.ajax({
            url: '/Admin/RefreshCreditSum',
            type: "POST",
            data: obj,
            dataType: 'json',
            success: function (data) {
                $('#credit-sum-id').text(data.sum + ' AED')
            }
        });
    }


</script>
