﻿@model ClassLibrary.WebPostModel.EditDistributor
@{
    ViewBag.Title = "EditDistributor";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
            <h3 class="pgeTitle">Distributor</h3>

            @using (Ajax.BeginForm("editDistributor", "Admin", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "editDistributorSuccess",
            OnFailure = "ajaxFailure",
        }, new { id = "touch&pay-editDistributor" }))
            {
                @Html.HiddenFor(m => m.distributorId, new { Value = Model.distributorId })

                <div class="distributor_credit">
                    <div class="distributor_create">
                        <div class="form-group">
                            <span>Name : </span>
                            <div>
                                @*<input type="text" class="form-control">*@
                                @Html.TextBoxFor(m => m.name, new { autocomplete = "off", @class = "form-control", @readonly = "true" })
                                @Html.ValidationMessageFor(model => model.name)
                            </div>
                        </div>
                        <div class="form-group">
                            <span>Email : </span>
                            <div>
                                @*<input type="text" class="form-control">*@
                                @Html.TextBoxFor(m => m.email, new { autocomplete = "off", @class = "form-control", @readonly = "true" })
                                @Html.ValidationMessageFor(model => model.email)
                            </div>
                        </div>
                        <div class="form-group phone_div">
                            <span>Phone : </span>
                            <div>
                                @*<select class="form-control country_flag">
                                        <option>Flag</option>
                                    </select>*@
                                @*<input type="tel" placeholder="" id="telephone" autocomplete="off" class="form-control">
                                    @Html.TextBoxFor(m => m.countryCode, new { autocomplete = "off", @class = "form-control", @placeholder = "Country Code", @readonly = "readonly", Value = "+971" })*@
                                @*<input type="text" class="form-control coutry_code" placeholder="+971">
                                    <input type="text" class="form-control mobile_number">*@

                                @*@Html.TextBoxFor(m => m.mobileNumber, new { autocomplete = "off", @class = "form-control phnNumb", @placeholder = "Mobile Number" })*@


                                <div class="contry_code">
                                    @*<input type="tel" placeholder="" id="telephone" autocomplete="off" class="form-control" readonly>*@
                                    @Html.TextBoxFor(m => m.countryCode, new { autocomplete = "off", @class = "form-control", @placeholder = "Country Code", @readonly = "true", style = "width:92%;" })
                                </div>
                                @Html.TextBoxFor(m => m.mobileNumber, new { autocomplete = "off", @class = "form-control phnNumb", @placeholder = "Mobile Number", @readonly = "true" })


                                <span class="field-validation-error field-validation-error-countryCode" style="display:none;"><span id="countryCode-error" class="">Required</span></span>
                                <div>

                                    @*@Html.ValidationMessageFor(model => model.mobileNumber)*@
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <span>Place : </span>
                            <div>
                                @*<input type="text" class="form-control">*@
                                @Html.TextBoxFor(m => m.shopName, new { autocomplete = "off", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.place)
                            </div>
                        </div>
                        <div class="form-group addrss">
                            <span>Address : </span>
                            <div>
                                @*<textarea class="form-control" rows="4"></textarea>*@
                                @Html.TextAreaFor(m => m.address, new { autocomplete = "off", @class = "form-control", rows = "4" })
                                @Html.ValidationMessageFor(model => model.address)
                            </div>
                        </div>
                    </div><!-- ./distributor_create -->

                    <h4>Permissions</h4>

                    <div class="tickBoxAll">
                        <div class="tickBox">
                            <label class="containerlabel">
                                India Region
                                @*<input type="checkbox" name="radio">*@
                                @Html.CheckBoxFor(m => m.permission_IndiaRegion, new { name = "radio", @class = "permission-checkbox" })
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class="tickBox">
                            <label class="containerlabel">
                                International
                                @*<input type="checkbox" name="radio">*@
                                @Html.CheckBoxFor(m => m.permission_International, new { name = "radio", @class = "permission-checkbox" })
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class="tickBox">
                            <label class="containerlabel">
                                UAE
                                @*<input type="checkbox" name="radio">*@
                                @Html.CheckBoxFor(m => m.permission_Uae, new { name = "radio", @class = "permission-checkbox" })
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div><!-- ./tickBoxAll -->

                    <br>

                    <h4>Commisions</h4>

                    <div class="tickBoxAll">
                        <div class="tickBox">
                            <label class="containerlabel">
                                DU Voucher
                                @*@Html.CheckBoxFor(m => m.commision_DuVoucher, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_DuVoucher, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;" })
                            @Html.ValidationMessageFor(model => model.commision_DuVoucher)
                        </div>

                        <div class="tickBox">
                            <label class="containerlabel">
                                Du TopUp
                                @*@Html.CheckBoxFor(m => m.commision_DuTopup, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_DuTopup, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;" })
                            @Html.ValidationMessageFor(model => model.commision_DuTopup)
                        </div>

                        <div class="tickBox">
                            <label class="containerlabel">
                                Etisalat Topup
                                @*@Html.CheckBoxFor(m => m.commision_EtisalatTopup, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_EtisalatTopup, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;" })
                            @Html.ValidationMessageFor(model => model.commision_EtisalatTopup)
                        </div>

                        <div class="tickBox">
                            <label class="containerlabel">
                                Etisalat Voucher
                                @*@Html.CheckBoxFor(m => m.commision_EtisalatVoucher, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_EtisalatVoucher, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;" })
                            @Html.ValidationMessageFor(model => model.commision_EtisalatVoucher)
                        </div>

                        <div class="tickBox">
                            <label class="containerlabel">
                                Five
                                @*@Html.CheckBoxFor(m => m.commision_Five, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_Five, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;" })
                            @Html.ValidationMessageFor(model => model.commision_Five)
                        </div>

                        <div class="tickBox">
                            <label class="containerlabel">
                                Hello
                                @*@Html.CheckBoxFor(m => m.commision_Hello, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_Hello, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;" })
                            @Html.ValidationMessageFor(model => model.commision_Hello)
                        </div>

                        <div class="tickBox">
                            <label class="containerlabel">
                                Salik
                                @*@Html.CheckBoxFor(m => m.commision_Salik, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_Salik, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;" })
                            @Html.ValidationMessageFor(model => model.commision_Salik)
                        </div>
                        <div class="tickBox">
                            <label class="containerlabel">
                                India
                                @*@Html.CheckBoxFor(m => m.commision_Salik, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_India, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;" })
                            @Html.ValidationMessageFor(model => model.commision_India)
                        </div>
                        <div class="tickBox">
                            <label class="containerlabel">
                                Other Country
                                @*@Html.CheckBoxFor(m => m.commision_Salik, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_OtherCountry, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;" })
                            @Html.ValidationMessageFor(model => model.commision_OtherCountry)
                        </div>
                        <div class="tickBox">
                            <label class="containerlabel">
                                International
                                @*@Html.CheckBoxFor(m => m.commision_Salik, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_International, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;" })
                            @Html.ValidationMessageFor(model => model.commision_International)
                        </div>
                    </div><!-- ./tickBoxAll -->
                    <div class="btn-all">
                        <button type="button" id="btn-dummy-update" class="btn createBtn">Update</button>
                        <button type="button" id="btn-cancel" class="btn createBtn" onclick="history.back()">Cancel</button>
                        <button type="submit" style="display:none;" id="btn-update" class="btn createBtn">Update</button>
                    </div>

                </div><!-- ./distributor_credit -->
            }
        </div><!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
    </div><!-- ./row -->
</div>

<script>


    $("form").keypress(function (e) {
        //Enter key
        if (e.which == 13) {
            return false;
        }
    });



    function editDistributorSuccess(data) {
        if (data.status) {
            toastrSuccess(data.message)
            setTimeout(function () {
                location.reload();
            }, 300);
        }
        else {
            toastrError(data.message);
        }
    }

    $(document).on('click', '#btn-dummy-update', function () {
        if ($('#countryCode').val() != '' && $('#mobileNumber').val() != '') {
            $(document).find('.field-validation-error').css('display', 'block');
            $(document).find('.field-validation-valid').css('display', 'block');
            $('.field-validation-error-countryCode').hide();

            if (($('#permission_IndiaRegion').prop("checked") == true || $('#permission_IndiaRegion').prop("checked") == true || $('#permission_IndiaRegion').prop("checked") == true
                //|| $('#commision_DuVoucher').prop("checked") == true || $('#commision_DuTopup').prop("checked") == true || $('#commision_EtisalatTopup').prop("checked") == true
                //|| $('#commision_EtisalatVoucher').prop("checked") == true || $('#commision_Five').prop("checked") == true || $('#commision_Hello').prop("checked") == true
                //|| $('#commision_Salik').prop("checked") == true
                )) {
                $('#btn-update').trigger('click');
            }
            else {
                toastrError('Permissions and commisions are mandatory');
            }

        }
        else if ($('#countryCode').val() == '') {
            $(document).find('.phnNumb').parent().find('.field-validation-valid').css('display', 'none');
            $('.field-validation-error-countryCode').show();
            $('#btn-update').trigger('click');
        }
        else {
            $(document).find('.field-validation-valid').css('display', 'block');
            $('#btn-update').trigger('click');
        }
        //$('#btn-agentadd').trigger('click');
    });

    $(document).on('keyup', '.phnNumb', function () {
        console.log($('#countryCode').val());
        if ($('#countryCode').val() != '') {
            $(document).find('.field-validation-error').css('display', 'block');
            $(document).find('.field-validation-valid').css('display', 'block');
            $('.field-validation-error-countryCode').css('display', 'none');
        }
    });

</script>
