﻿@{
    ViewBag.Title = "importedcards";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<input type="hidden" id="hfn-Imported-cardlist-index" value="0" />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">

            <div class="addBtn">
                <a id="btn-importcard-from-excel" data-toggle="modal" data-target="#myModal3" style="margin-left: 10px; cursor: pointer;"><i class="fa fa-file-text-o"></i> Import Card From Excel</a>
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
            <select class="form-control select-listcount-value" style="width: 80px;">
                <option selected value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered cust-table">
                    <thead>
                        <tr>
                            <th width="70">Sl No</th>
                            <th>Serial no</th>
                            <th>Pin no</th>
                            <th>Created Date / Time</th>
                            <th>Card Type</th>
                            <th>Amount</th>
                            @*<th>Provider</th>*@
                            @*<th width="200">Status</th>*@
                            <th width="200"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody-Imported-cardlist">
                        @{
                            var postModel = new ClassLibrary.WebPostModel.ImportedCardlistModel();
                            postModel.index = 0;
                            postModel.listcount = "10";
                        }
                        @Html.Partial("~/Views/Admin/_pv_ListImportedCards.cshtml", postModel)
                    </tbody>
                </table>
            </div>

            <div class="paging">
                <ul id="ul-Imported-cardlist-pagination">
                    @{
                        var postModelPagination = new ClassLibrary.WebPostModel.ImportedCardlistPaginationModel();
                        postModelPagination.currentIndex = postModel.index;
                        postModelPagination.nextIndex = postModel.index + 1;
                        postModelPagination.listcount = "10";
                    }
                    @Html.Partial("~/Views/Admin/_pv_ListImportedCards_Pagination.cshtml", postModelPagination)

                </ul>
            </div>
        </div><!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
    </div><!-- ./row -->
</div>


<!-- Modal -->
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header cust-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-check-circle"></i> Import Card</h4>
            </div>
            <div class="modal-body">
                <div class="assign">
                    <div class="form-group">
                        <span>Select File : </span>
                        <input type="file" id="import-card-file" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btn-import-cards" class="btn btn-assign">Import</button>
            </div>
        </div>

    </div>
</div>

<script>

    $(document).on('click', '#btn-import-cards', function () {
        debugger;
        var file = $('#import-card-file')[0].files[0];
        var fileName = $('#import-card-file')[0].files[0].name;
        var fileType = fileName.substr((fileName.lastIndexOf('.') + 1));
        var ValidImageTypes = ["xlsx", "xls"];
        if ($.inArray(fileType, ValidImageTypes) < 0) {
            toastr.error("Invalid file type");
        }
        else {

            $.ajax({
                url: '/Admin/importdatafromexcel',
                type: "POST",
                data: function () {
                    var data = new FormData();
                    data.append("file", file);
                    return data;
                }(),
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.status) {
                        toastrSuccess('Card Imported');
                        $('#myModal3').modal('hide');
                        $('#import-card-file').val('');
                        setTimeout(function () {
                            location.reload();
                        }, 300);
                    }
                    else {
                        toastrError(data.message);
                    }
                }
            });

        }
    });

</script>





<script>


    $(document).on('keypress', '#txt-search', function (e) {

        //// Allow: backspace, delete, tab, escape, enter and .
        //if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
        //    // Allow: Ctrl+A, Command+A
        //    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
        //    // Allow: home, end, left, right, down, up
        //    (e.keyCode >= 35 && e.keyCode <= 40)) {
        //    // let it happen, don't do anything
        //    return;
        //}
        //// Ensure that it is a number and stop the keypress
        //if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        //    alert();
        //    e.preventDefault();
        //}

        if (e.keyCode == 13) {
            //alert("Enter pressed");
            $('#hfn-Imported-cardlist-index').val(0);
            var index = $('#hfn-Imported-cardlist-index').val();
            RefreshImportedCardList(parseInt(index));
            RefreshImportedCardListPagination(parseInt(index), parseInt($('#hfn-Imported-cardlist-index').val()) + parseInt(1));
        }
    });

    function RefreshImportedCardList(index) {
        var obj = new Object();
        obj.index = parseInt(index);
        obj.search = $('#txt-search').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        $.ajax({
            url: '/Admin/refreshImportedCardlist',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#tbody-Imported-cardlist').html(data);
            }
        });
    }

    function RefreshImportedCardListPagination(currentIndex, nextIndex) {
        var obj = new Object();
        obj.currentIndex = parseInt(currentIndex);
        obj.nextIndex = parseInt(nextIndex);
        obj.search = $('#txt-search').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        $.ajax({
            url: '/Admin/refreshImportedCardlistPagination',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#ul-Imported-cardlist-pagination').html(data);
            }
        });
    }



    $(document).on('click', '#li-imported-pagination-next', function () {
        var index = $('#hfn-Imported-cardlist-index').val();
        RefreshImportedCardList(parseInt(index) + parseInt(1));
        RefreshImportedCardListPagination(parseInt(index) + parseInt(1), parseInt($('#hfn-Imported-cardlist-index').val()) + parseInt(2));
        $('#hfn-Imported-cardlist-index').val(parseInt($('#hfn-Imported-cardlist-index').val()) + parseInt(1));
    });

    $(document).on('click', '#li-imported-pagination-prev', function () {
        var index = $('#hfn-Imported-cardlist-index').val();
        RefreshImportedCardList(parseInt(index) - parseInt(1));
        RefreshImportedCardListPagination(parseInt(parseInt(index) - parseInt(1)), parseInt($('#hfn-Imported-cardlist-index').val()) - parseInt(2));
        $('#hfn-Imported-cardlist-index').val(parseInt($('#hfn-Imported-cardlist-index').val()) - parseInt(1));
    });

    $(document).on('change', '.select-listcount-value', function () {
        var source = $(this);
        $('#hfn-Imported-cardlist-index').val(0);
        $(".select-listcount-value").val($(".select-listcount-value option:selected").val());
        var index = $('#hfn-Imported-cardlist-index').val();
        RefreshImportedCardList(parseInt(index));
        RefreshImportedCardListPagination(parseInt(index), parseInt($('#hfn-Imported-cardlist-index').val()) + parseInt(1));
    });

    $(document).on('click', '.btn-delete-importedcards', function () {
        var source = $(this);
        var importedCardId = $(source).attr('data-cardid');

        swal({
            title: "Are you sure?",
            text: "You are about to delete this card!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#004b8d",
            confirmButtonText: "Yes, delete!",
            closeOnConfirm: true
        },
      function (isConfirm) {

          if (isConfirm) {

              $.ajax({
                  url: '/Admin/DeleteImportedCards/' + importedCardId,
                  type: "GET",
                  dataType: 'json',
                  success: function (data) {
                      if (data.status) {
                          toastr.success("Card deleted");
                          var index = $('#hfn-Imported-cardlist-index').val();
                          RefreshImportedCardList(parseInt(index));
                          RefreshImportedCardListPagination(parseInt(index), parseInt($('#hfn-Imported-cardlist-index').val()) + parseInt(1));
                      }
                      else {
                          toastr.error("An error has occured");
                      }
                  }
              });
          }
          else {
              //toastr.error("An error has occured");
          }
      });
    });

</script>