﻿@model ClassLibrary.WebPostModel.ListUserUsedCards
@{
    ViewBag.Title = "usercardlist";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<input type="hidden" id="hfn-usedcardlist-index" value="0" />
<input type="hidden" id="hfn-usedcardlist-userId" value=@Model.userId />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
    <div class="addBtn">
        <a style="cursor:pointer;" onclick="history.back()">Back</a>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
    <select class="form-control select-listcount-value" style="width: 80px;">
        <option selected value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="table-responsive">
        <table class="table table-bordered cust-table">
            <thead>
                <tr>
                    <th width="70">Sl No</th>
                    <th>Card number</th>
                    <th>Currency</th>
                    <th>Date / Time</th>
                    <th>Mobile Number</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="tbody-usedcardlist">
                @{
                    var postModel = new ClassLibrary.WebPostModel.ListUserUsedCards();
                    postModel.userId = Model.userId;
                    postModel.index = 0;
                    postModel.listcount = "10";
                }
                @Html.Partial("~/Views/Admin/_pv_listUserUsedCards.cshtml", postModel)
            </tbody>
        </table>
    </div>
    <div class="paging">
        <ul id="ul-usedcardlist-pagination">
            @{
                var postModelPagination = new ClassLibrary.WebPostModel.ListUserUsedCardsPaginationModel();
                postModelPagination.currentIndex = postModel.index;
                postModelPagination.userId = Model.userId;
                postModelPagination.nextIndex = postModel.index + 1;
                postModelPagination.listcount = "10";
            }
            @Html.Partial("~/Views/Admin/_pv_listUserUsedCards_Pagination.cshtml", postModelPagination)

        </ul>
    </div>
</div>

<script>

    function RefreshUsedCardList(index, userId) {
        var obj = new Object();
        obj.index = parseInt(index);
        obj.userId = parseInt(userId);
        obj.search = $('#txt-search').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        $.ajax({
            url: '/Admin/refreshUserUsedCardlist',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#tbody-usedcardlist').html(data);
            }
        });
    }

    function RefreshUsedCardListPagination(currentIndex, nextIndex, userId) {
        var obj = new Object();
        obj.currentIndex = parseInt(currentIndex);
        obj.nextIndex = parseInt(nextIndex);
        obj.userId = parseInt(userId);
        obj.search = $('#txt-search').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        $.ajax({
            url: '/Admin/refreshUserUsedCardlistPagination',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#ul-usedcardlist-pagination').html(data);
            }
        });
    }

    $(document).on('keypress', '#txt-search', function (e) {

        //// Allow: backspace, delete, tab, escape, enter and .
        //if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
        //    // Allow: Ctrl+A, Command+A
        //    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
        //    // Allow: home, end, left, right, down, up
        //    (e.keyCode >= 35 && e.keyCode <= 40)) {
        //    // let it happen, don't do anything
        //    return;
        //}
        //// Ensure that it is a number and stop the keypress
        //if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        //    alert();
        //    e.preventDefault();
        //}

        if (e.keyCode == 13) {
            //alert("Enter pressed");
            $('#hfn-usedcardlist-index').val(0);
            var index = $('#hfn-usedcardlist-index').val();
            var userId = $('#hfn-usedcardlist-userId').val();
            RefreshUsedCardList(parseInt(index), userId);
            RefreshUsedCardListPagination(parseInt(index), parseInt($('#hfn-usedcardlist-index').val()) + parseInt(1), userId);
        }
    });



    $(document).on('change', '.select-listcount-value', function () {
        var source = $(this);
        var userId = $('#hfn-usedcardlist-userId').val();
        $('#hfn-usedcardlist-index').val(0);
        $(".select-listcount-value").val($(".select-listcount-value option:selected").val());
        var index = $('#hfn-usedcardlist-index').val();
        RefreshUsedCardList(parseInt(index), userId);
        RefreshUsedCardListPagination(parseInt(index), parseInt($('#hfn-usedcardlist-index').val()) + parseInt(1), userId);
    });


    $(document).on('click', '#li-usedcardlist-pagination-next', function () {
        var index = $('#hfn-usedcardlist-index').val();
        var userId = $('#hfn-usedcardlist-userId').val();
        RefreshUsedCardList(parseInt(index) + parseInt(1), userId);
        RefreshUsedCardListPagination(parseInt(index) + parseInt(1), parseInt($('#hfn-usedcardlist-index').val()) + parseInt(2), userId);
        $('#hfn-usedcardlist-index').val(parseInt($('#hfn-usedcardlist-index').val()) + parseInt(1));
    });

    $(document).on('click', '#li-usedcardlist-pagination-prev', function () {
        debugger;
        var index = $('#hfn-usedcardlist-index').val();
        var userId = $('#hfn-usedcardlist-userId').val();
        RefreshUsedCardList(parseInt(index) - parseInt(1), userId);
        RefreshUsedCardListPagination(parseInt(parseInt(index) - parseInt(1)), parseInt($('#hfn-usedcardlist-index').val()) - parseInt(2), userId);
        $('#hfn-usedcardlist-index').val(parseInt($('#hfn-usedcardlist-index').val()) - parseInt(1));
    });

</script>

