﻿@{
    ViewBag.Title = "userlist";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<input type="hidden" id="hfn-userlist-index" value="0" />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
            <select class="form-control select-listcount-value" style="width: 80px;">
                <option selected value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive" id="div-user-list">
                <table class="table table-bordered cust-table">
                    <thead>
                        <tr>
                            <th width="70">Sl No</th>
                            <th>Name</th>
                            <th>User ID</th>
                            <th>Mobile Number</th>
                            <th>Country</th>
                            <th>Wallet Amount</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbody-userlist">
                        @{
                            var postModel = new ClassLibrary.WebPostModel.ListUserModel();
                            postModel.index = 0;
                            postModel.listcount = "10";
                        }
                        @Html.Partial("~/Views/Admin/_pv_listUsers.cshtml", postModel)
                    </tbody>
                </table>
            </div>
            <div class="paging">
                <ul id="ul-userlist-pagination">
                    @{
                        var postModelPagination = new ClassLibrary.WebPostModel.ListUserPaginationModel();
                        postModelPagination.currentIndex = postModel.index;
                        postModelPagination.nextIndex = postModel.index + 1;
                        postModelPagination.listcount = "10";
                    }
                    @Html.Partial("~/Views/Admin/_pv_listUser_Pagination.cshtml", postModelPagination)

                </ul>
            </div>
        </div><!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
    </div><!-- ./row -->
</div>


<script>

    function RefreshUserList(index) {
        var obj = new Object();
        obj.index = parseInt(index);
        obj.search = $('#txt-search').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        $.ajax({
            url: '/Admin/refreshUserlist',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#tbody-userlist').html(data);
            }
        });
    }

    function RefreshUserListCountChange(index) {
        var obj = new Object();
        obj.index = parseInt(index);
        obj.search = $('#txt-search').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        $.ajax({
            url: '/Admin/refreshUserlist',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#tbody-userlist').html(data);
            }
        });
    }

    $(document).on('change', '.select-listcount-value', function () {
        var source = $(this);
        $('#hfn-userlist-index').val(0);
        $(".select-listcount-value").val($(".select-listcount-value option:selected").val());
        var index = $('#hfn-userlist-index').val();
        RefreshUserList(parseInt(index));
        RefreshUserListPagination(parseInt(index), parseInt($('#hfn-userlist-index').val()) + parseInt(1));
    });

    function RefreshUserListPagination(currentIndex, nextIndex) {
        var obj = new Object();
        obj.currentIndex = parseInt(currentIndex);
        obj.nextIndex = parseInt(nextIndex);
        obj.search = $('#txt-search').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        $.ajax({
            url: '/Admin/refreshUserlistPagination',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#ul-userlist-pagination').html(data);
            }
        });
    }

    $(document).on('keypress', '#txt-search', function (e) {

        //// Allow: backspace, delete, tab, escape, enter and .
        //if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
        //    // Allow: Ctrl+A, Command+A
        //    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
        //    // Allow: home, end, left, right, down, up
        //    (e.keyCode >= 35 && e.keyCode <= 40)) {
        //    // let it happen, don't do anything
        //    return;
        //}
        //// Ensure that it is a number and stop the keypress
        //if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        //    alert();
        //    e.preventDefault();
        //}

        if (e.keyCode == 13) {
            //alert("Enter pressed");
            $('#hfn-userlist-index').val(0);
            var index = $('#hfn-userlist-index').val();
            RefreshUserList(parseInt(index));
            RefreshUserListPagination(parseInt(index), parseInt($('#hfn-userlist-index').val()) + parseInt(1));
        }
    });

    $(document).on('click', '#li-listusers-pagination-next', function () {
        var index = $('#hfn-userlist-index').val();
        RefreshUserList(parseInt(index) + parseInt(1));
        RefreshUserListPagination(parseInt(index) + parseInt(1), parseInt($('#hfn-userlist-index').val()) + parseInt(2));
        $('#hfn-userlist-index').val(parseInt($('#hfn-userlist-index').val()) + parseInt(1));
    });

    $(document).on('click', '#li-listusers-pagination-prev', function () {
        var index = $('#hfn-userlist-index').val();
        RefreshUserList(parseInt(index) - parseInt(1));
        RefreshUserListPagination(parseInt(parseInt(index) - parseInt(1), $('#hfn-userlist-index').val()) - parseInt(2));
        $('#hfn-userlist-index').val(parseInt($('#hfn-userlist-index').val()) - parseInt(1));
    });


    $(document).on('click', '.btn-delete-user', function () {
        var source = $(this);
        var userId = $(source).attr('data-userid');
        swal({
            title: "Are you sure?",
            text: "You are about to delete the user!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#004b8d",
            confirmButtonText: "Yes, delete!",
            closeOnConfirm: true
        },
      function (isConfirm) {

          if (isConfirm) {
              $.ajax({
                  url: '/Admin/deleteuser/' + userId,
                  type: "GET",
                  dataType: 'json',
                  success: function (data) {
                      if (data.status) {
                          toastr.success("User deleted");
                          var index = $('#hfn-userlist-index').val();
                          RefreshUserList(parseInt(index));
                          RefreshUserListPagination(parseInt(index), parseInt($('#hfn-userlist-index').val()) + parseInt(1));
                      }
                      else {
                          toastr.error("An error has occured");
                      }
                  }
              });
          }
          else {
              //toastr.error("An error has occured");
          }
      });
    });


    $(document).on('click', '.btn-block-user', function () {
        var source = $(this);
        var userId = $(source).attr('data-userid');
        var isblocked = $(source).attr('data-isblocked');
        var message = "";
        var confirmMessage = "";
        if (isblocked == "True") {
            message = "You are about to unblock the user!";
            confirmMessage = "Yes, unblock!";
        }
        else {
            message = "You are about to block the user!";
            confirmMessage = "Yes, block!";
        }


        swal({
            title: "Are you sure?",
            text: message,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#004b8d",
            confirmButtonText: confirmMessage,
            closeOnConfirm: true
        },
      function (isConfirm) {

          if (isConfirm) {
              $.ajax({
                  url: '/Admin/blockagent/' + userId,
                  type: "GET",
                  dataType: 'json',
                  success: function (data) {
                      if (data.status) {
                          debugger;
                          if (isblocked == "True") {
                              $(source).attr('data-isblocked', "False");
                              $(source).text("Block")
                              toastr.success("User Unblocked");
                          }
                          else {
                              $(source).attr('data-isblocked', "True");
                              $(source).text("UnBlock")
                              toastr.success("User blocked");
                          }
                      }
                      else {
                          toastr.error("An error has occured");
                      }
                  }
              });
          }
          else {
              //toastr.error("An error has occured");
          }
      });
    });


</script>
