﻿@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/_agentNewLayout.cshtml";
    var user1 = (EntityLibrary.tAgent)Session["AgentNew"];
    var user = new EntityLibrary.Data.Agent_New(user1);
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
            <div class="detailsPr">
                <div class="prof">
                    @if (user != null)
                    {
                        if (user.ProfileImage != string.Empty && user.ProfileImage != null)
                        {
                            <img src="@(user != null ? user.ProfileImage ?? string.Empty : "")">
                        }
                        else
                        {
                            <img src="~/Content/img/default_profile_pic.jpg">
                        }
                    }
                    else
                    {
                        <img src="~/Content/img/default_profile_pic.jpg">
                    }
                    <h4>@(user != null ? user.Username ?? string.Empty : "")</h4>
                    <h5>@(user != null ? user.Country ?? string.Empty : "")</h5>
                </div>

                <ul>
                    <li><span>Shopname:</span> @(user != null ? user.ShopName == string.Empty ? " " : user.ShopName : " ")</li>
                    <li><span>Address:</span> @(user != null ? user.Address == string.Empty ? " " : user.Address : " ")</li>
                    <li><span>Place:</span> @(user != null ? user.Place == string.Empty ? " " : user.Place : " ")</li>
                    <li><span>Mobile Number:</span> @(user != null ? user.Mobile ?? string.Empty : "")</li>
                    <li><span>My account Balance:</span> @(user != null ? user.Wallet.ToString() ?? string.Empty : "") @(user != null ? user.Currency.ToString() ?? string.Empty : "")</li>
                </ul>

                <div class="btns">
                    <a href="/AgentNew/editprofile/@(user != null ? user.AgentID.ToString() ?? string.Empty : "")" class="btn green_btn">Edit profile</a>
                    <a href="/AgentNew/cardlist/@(user != null ? user.AgentID.ToString() ?? string.Empty : "")" class="btn green_btn">List of cards</a>
                    <a href="/AgentNew/transactions/@(user != null ? user.AgentID.ToString() ?? string.Empty : "")" class=" btn drkgreen_btn">Transactions</a>
                </div>
            </div>
        </div><!-- ./col-lg-3 col-md-3 col-sm-12 col-xs-12 -->
    </div><!-- ./row -->
</div>
