﻿
@model ClassLibrary.WebPostModel.ListAgentModel
@{
    var agentList = new EntityLibrary.Data.AdminService().getAgents_NewAdd(Model.index, Model.search, Model.listcount, Model.userCurrency, Model.ResellerId);
}

@if (agentList.Count > 0)
{
    foreach (var agent in agentList)
    {
        <div class="distributor_single">
            <div class="distributorName">
                <span>@agent.Username</span>
            </div>
            <div class="distributor_btn">
                <a href="/Reseller/resellercredit/@agent.AgentID">Credit</a>
                <a href="/Reseller/editreseller/@agent.AgentID">Edit</a>
                <a class="btn-delete-reseller" data-resellerid="@agent.AgentID">Delete</a>
            </div>
        </div><!-- ./distributor_single -->
    }
}


