﻿@model ClassLibrary.WebPostModel.addAgentNew
@{
    ViewBag.Title = "addAgent";
    Layout = "~/Views/Shared/_resellerLayout.cshtml";
    var _distributor = new EntityLibrary.Data.Reseller(Model.ResellerId);
    bool permission_India = false;
    bool permission_Intl = false;
    bool permission_Uae = false;
    if (_distributor != null)
    {
        if (_distributor.permissions.Count > 0)
        {
            permission_India = _distributor.permissions.Any(z => z.Permissions && z.Type == ClassLibrary.Enum.ResellerPermissions.India.ToString());
            permission_Intl = _distributor.permissions.Any(z => z.Permissions && z.Type == ClassLibrary.Enum.ResellerPermissions.International.ToString());
            permission_Uae = _distributor.permissions.Any(z => z.Permissions && z.Type == ClassLibrary.Enum.ResellerPermissions.UAE.ToString());
        }
    }
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
            <h3 class="pgeTitle">Agent</h3>

            @using (Ajax.BeginForm("addAgent", "Reseller", null, new AjaxOptions
        {
            HttpMethod = "POST",
            //OnSuccess = "addResellerSuccess",
            OnFailure = "ajaxFailure",
        }, new { id = "touch&pay-addReseller" }))
            {
                @Html.HiddenFor(m => m.ResellerId, new { Value = Model.ResellerId })
                @Html.HiddenFor(m => m.distributorId, new { Value = Model.distributorId })
                <div class="distributor_credit">
                    <div class="distributor_create">
                        <div class="form-group">
                            <span>Name : </span>
                            <div>
                                @*<input type="text" class="form-control">*@
                                @Html.TextBoxFor(m => m.name, new { autocomplete = "off", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.name)
                            </div>
                        </div>
                        <div class="form-group">
                            <span>Email : </span>
                            <div>
                                @*<input type="text" class="form-control">*@
                                @Html.TextBoxFor(m => m.email, new { autocomplete = "off", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.email)
                            </div>
                        </div>
                        <div class="form-group phone_div">
                            <span>Phone : </span>
                            <div>
                                @*<select class="form-control country_flag">
                                        <option>Flag</option>
                                    </select>*@
                                @*<input type="tel" placeholder="" id="telephone" autocomplete="off" class="form-control">
                                    @Html.TextBoxFor(m => m.countryCode, new { autocomplete = "off", @class = "form-control", @placeholder = "Country Code", @readonly = "readonly", Value = "+971" })*@
                                @*<input type="text" class="form-control coutry_code" placeholder="+971">
                                    <input type="text" class="form-control mobile_number">*@

                                @*@Html.TextBoxFor(m => m.mobileNumber, new { autocomplete = "off", @class = "form-control phnNumb", @placeholder = "Mobile Number" })*@

                                <div class="phnNumb">
                                    <div class="contry_code">
                                        <input type="tel" placeholder="" id="telephone" autocomplete="off" class="form-control">
                                        @Html.TextBoxFor(m => m.countryCode, new { autocomplete = "off", @class = "form-control", @placeholder = "Country Code", @readonly = "readonly", Value = "+971" })
                                    </div>
                                    @Html.TextBoxFor(m => m.mobileNumber, new { autocomplete = "off", @class = "form-control phnNumb", @placeholder = "Mobile Number" })


                                    <span class="field-validation-error field-validation-error-countryCode" style="display:none;"><span id="countryCode-error" class="">Required</span></span>
                                    <div>

                                        @Html.ValidationMessageFor(model => model.mobileNumber)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span>Password : </span>
                            <div>
                                @*<input type="text" class="form-control">*@
                                @Html.TextBoxFor(m => m.password, new { autocomplete = "off", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.password)
                            </div>
                        </div>
                        <div class="form-group">
                            <span>Place : </span>
                            <div>
                                @*<input type="text" class="form-control">*@
                                @Html.TextBoxFor(m => m.shopName, new { autocomplete = "off", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.shopName)
                            </div>
                        </div>
                        <div class="form-group addrss">
                            <span>Address : </span>
                            <div>
                                @*<textarea class="form-control" rows="4"></textarea>*@
                                @Html.TextAreaFor(m => m.address, new { autocomplete = "off", @class = "form-control", rows = "4" })
                                @Html.ValidationMessageFor(model => model.address)
                            </div>
                        </div>
                    </div><!-- ./distributor_create -->

                    <h4>Permissions</h4>

                    <div class="tickBoxAll">
                        @if (permission_India)
                        {
                            <div class="tickBox">
                                <label class="containerlabel">
                                    India Region
                                    @*<input type="checkbox" name="radio">*@
                                    @Html.CheckBoxFor(m => m.permission_IndiaRegion, new { name = "radio", @class = "permission-checkbox" })
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        }

                        @if (permission_Intl)
                        {
                            <div class="tickBox">
                                <label class="containerlabel">
                                    International
                                    @*<input type="checkbox" name="radio">*@
                                    @Html.CheckBoxFor(m => m.permission_International, new { name = "radio", @class = "permission-checkbox" })
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        }
                        @if (permission_Uae)
                        {
                            <div class="tickBox">
                                <label class="containerlabel">
                                    UAE
                                    @*<input type="checkbox" name="radio">*@
                                    @Html.CheckBoxFor(m => m.permission_Uae, new { name = "radio", @class = "permission-checkbox" })
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        }
                    </div><!-- ./tickBoxAll -->

                    <br>

                    <h4>Commisions</h4>

                    <div class="tickBoxAll">
                        <div class="tickBox">
                            <label class="containerlabel">
                                DU Voucher
                                @*@Html.CheckBoxFor(m => m.commision_DuVoucher, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_DuVoucher, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;", Value = 0 })
                            @Html.ValidationMessageFor(model => model.commision_DuVoucher)
                        </div>

                        <div class="tickBox">
                            <label class="containerlabel">
                                Du TopUp
                                @*@Html.CheckBoxFor(m => m.commision_DuTopup, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_DuTopup, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;", Value = 0 })
                            @Html.ValidationMessageFor(model => model.commision_DuTopup)
                        </div>

                        <div class="tickBox">
                            <label class="containerlabel">
                                Etisalat Topup
                                @*@Html.CheckBoxFor(m => m.commision_EtisalatTopup, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_EtisalatTopup, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;", Value = 0 })
                            @Html.ValidationMessageFor(model => model.commision_EtisalatTopup)
                        </div>

                        <div class="tickBox">
                            <label class="containerlabel">
                                Etisalat Voucher
                                @*@Html.CheckBoxFor(m => m.commision_EtisalatVoucher, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_EtisalatVoucher, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;", Value = 0 })
                            @Html.ValidationMessageFor(model => model.commision_EtisalatVoucher)
                        </div>

                        <div class="tickBox">
                            <label class="containerlabel">
                                Five
                                @*@Html.CheckBoxFor(m => m.commision_Five, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_Five, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;", Value = 0 })
                            @Html.ValidationMessageFor(model => model.commision_Five)
                        </div>

                        <div class="tickBox">
                            <label class="containerlabel">
                                Hello
                                @*@Html.CheckBoxFor(m => m.commision_Hello, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_Hello, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;", Value = 0 })
                            @Html.ValidationMessageFor(model => model.commision_Hello)
                        </div>

                        <div class="tickBox">
                            <label class="containerlabel">
                                Salik
                                @*@Html.CheckBoxFor(m => m.commision_Salik, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_Salik, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;", Value = 0 })
                            @Html.ValidationMessageFor(model => model.commision_Salik)
                        </div>
                        <div class="tickBox">
                            <label class="containerlabel">
                                India
                                @*@Html.CheckBoxFor(m => m.commision_Salik, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_India, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;", Value = 0 })
                            @Html.ValidationMessageFor(model => model.commision_India)
                        </div>
                        <div class="tickBox">
                            <label class="containerlabel">
                                Other Country
                                @*@Html.CheckBoxFor(m => m.commision_Salik, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_OtherCountry, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;", Value = 0 })
                            @Html.ValidationMessageFor(model => model.commision_OtherCountry)
                        </div>
                        <div class="tickBox">
                            <label class="containerlabel">
                                International
                                @*@Html.CheckBoxFor(m => m.commision_Salik, new { name = "radio2", @class = "commision-checkbox" })*@
                                @*<input type="checkbox" name="radio2">*@
                                @*<span class="checkmark"></span>*@
                            </label>
                            @Html.TextBoxFor(m => m.commision_International, new { autocomplete = "off", @class = "form-control", style = "border: 1px solid #ccc;", Value = 0 })
                            @Html.ValidationMessageFor(model => model.commision_International)
                        </div>
                    </div><!-- ./tickBoxAll -->

                    <button type="button" id="btn-dummy-create" class="btn createBtn">Create</button>
                    <button type="submit" style="display:none;" id="btn-create" class="btn createBtn">Create</button>

                </div><!-- ./distributor_credit -->
            }
        </div><!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
    </div><!-- ./row -->
</div>

<script>


    $(document).on('ready', function () {
        // Vanilla Javascript
        var input = document.querySelector("#telephone");

        input.addEventListener("countrychange", function () {
            // do something with iti.getSelectedCountryData()
            // Get the country data for the currently selected flag.
            //var countryData = this;
            var countryData = iti.getSelectedCountryData();
            $('#countryCode').val("+" + countryData.dialCode);
            console.log(countryData);

        });

        var iti = window.intlTelInput(input, ({
            // whether or not to allow the dropdown
            allowDropdown: true,

            // if there is just a dial code in the input: remove it on blur, and re-add it on focus
            autoHideDialCode: true,
            // add a placeholder in the input with an example number for the selected country
            autoPlaceholder: "polite",
            // modify the auto placeholder
            customPlaceholder: null,
            // append menu to specified element
            dropdownContainer: null,
            // don't display these countries
            excludeCountries: [],
            // format the input value during initialisation and on setNumber
            formatOnDisplay: true,
            // geoIp lookup function
            geoIpLookup: null,
            // inject a hidden input with this name, and on submit, populate it with the result of getNumber
            hiddenInput: "",
            // initial country
            initialCountry: "",
            // localized country names e.g. { 'de': 'Deutschland' }
            localizedCountries: null,
            // don't insert international dial codes
            nationalMode: true,
            // display only these countries
            onlyCountries: [],
            // number type to use for placeholders
            placeholderNumberType: "MOBILE",
            // the countries at the top of the list. defaults to united states and united kingdom
            preferredCountries: ["ae"],
            // display the country dial code next to the selected flag so it's not part of the typed number
            separateDialCode: false,
            // specify the path to the libphonenumber script to enable validation/formatting
            utilsScript: ""
        }));

    });
</script>



<script>

    function addAgentSuccess(data) {
        if (data.status) {
            toastrSuccess(data.message)
            setTimeout(function () {
                location.reload();
            }, 300);
        }
        else {
            toastrError(data.message);
        }
    }

    $(document).on('click', '#btn-dummy-create', function () {
        if ($('#countryCode').val() != '' && $('#mobileNumber').val() != '') {
            $(document).find('.field-validation-error').css('display', 'block');
            $(document).find('.field-validation-valid').css('display', 'block');
            $('.field-validation-error-countryCode').hide();

            if (($('#permission_IndiaRegion').prop("checked") == true || $('#permission_IndiaRegion').prop("checked") == true || $('#permission_IndiaRegion').prop("checked") == true
                
                )) {
                $('#btn-create').trigger('click');
                location.reload();
            }
            else {
                toastrError('Permissions and commisions are mandatory');
            }

        }
        else if ($('#countryCode').val() == '') {
            $(document).find('.phnNumb').parent().find('.field-validation-valid').css('display', 'none');
            $('.field-validation-error-countryCode').show();
            $('#btn-create').trigger('click');
        }
        else {
            $(document).find('.field-validation-valid').css('display', 'block');
            $('#btn-create').trigger('click');
        }
        //$('#btn-agentadd').trigger('click');
    });
    ///////sibi Comment.......
    //$(document).on('keyup', '.phnNumb', function () {
    //    ////console.log($('#countryCode').val());
    //    if ($('#countryCode').val() != '') {
    //        $(document).find('.field-validation-error').css('display', 'block');
    //        $(document).find('.field-validation-valid').css('display', 'block');
    //        $('.field-validation-error-countryCode').css('display', 'none');
    //    }
    //});

</script>


