﻿
@{
    ViewBag.Title = "Agents";
    Layout = "~/Views/Shared/_resellerLayout.cshtml";   
}

<input type="hidden" id="hfn-Agentlist-index" value="0" />

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
            <h3 class="pgeTitle">Reseller <a href="/Reseller/addAgent"><i class="fa fa-plus-circle"></i> Add</a></h3>
            <div class="distributorAll" id="div-Agent-list">
                @{
                    var postModel = new ClassLibrary.WebPostModel.ListAgentModel();
                    postModel.index = 0;
                    postModel.listcount = "10";
                    postModel.userCurrency = "All";
                    postModel.ResellerId = Convert.ToInt64(Session["ResellerId"]);
                }
                @Html.Partial("~/Views/Reseller/_pv_ListAgents.cshtml", postModel)
            </div><!-- ./distributorAll -->
            <div class="paging">
                <ul id="ul-Agentlist-pagination">
                    @{
                        var postModelPagination = new ClassLibrary.WebPostModel.ListResellerPaginationModel();
                        postModelPagination.currentIndex = postModel.index;
                        postModelPagination.nextIndex = postModel.index + 1;
                        postModelPagination.listcount = "10";
                        postModelPagination.userCurrency = "All";
                        postModelPagination.ResellerId = Convert.ToInt64(Session["ResellerId"]);
                    }
                    @Html.Partial("~/Views/Reseller/_pv_ListAgent_Pagination.cshtml", postModelPagination)

                </ul>
            </div>
        </div><!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
    </div><!-- ./row -->
</div>


<script>

    function RefreshAgentList(index) {
        var obj = new Object();
        obj.index = parseInt(index);
        obj.search = $('#txt-search').val();
        obj.listcount = "10";
        obj.userCurrency = "All";
        $.ajax({
            url: '/Reseller/refreshAgentlist',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#div-Agent-list').html(data);
            }
        });
    }

    function RefreshAgentListPagination(currentIndex, nextIndex) {
        var obj = new Object();
        obj.currentIndex = parseInt(currentIndex);
        obj.nextIndex = parseInt(nextIndex);
        obj.search = $('#txt-search').val();
        obj.listcount = "10";
        obj.userCurrency = "All";
        $.ajax({
            url: '/Reseller/refreshAgentlistPagination',
            type: "GET",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#ul-Agentlist-pagination').html(data);
            }
        });
    }



    $(document).on('click', '#li-listResellers-pagination-next', function () {
        var index = $('#hfn-Agentlist-index').val();
        RefreshAgentList(parseInt(index) + parseInt(1));
        RefreshAgentListPagination(parseInt(index) + parseInt(1), parseInt($('#hfn-Agentlist-index').val()) + parseInt(2));
        $('#hfn-Agentlist-index').val(parseInt($('#hfn-Agentlist-index').val()) + parseInt(1));
    });

    $(document).on('click', '#li-listResellers-pagination-prev', function () {
        var index = $('#hfn-Agentlist-index').val();
        RefreshAgentList(parseInt(index) - parseInt(1));
        RefreshAgentListPagination(parseInt(index) - parseInt(1), $('#hfn-Agentlist-index').val()) - parseInt(2);
        $('#hfn-Agentlist-index').val(parseInt($('#hfn-Agentlist-index').val()) - parseInt(1));
    });



    $(document).on('keypress', '#txt-search', function (e) {

        //// Allow: backspace, delete, tab, escape, enter and .
        //if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
        //    // Allow: Ctrl+A, Command+A
        //    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
        //    // Allow: home, end, left, right, down, up
        //    (e.keyCode >= 35 && e.keyCode <= 40)) {
        //    // let it happen, don't do anything
        //    return;
        //}
        //// Ensure that it is a number and stop the keypress
        //if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        //    alert();
        //    e.preventDefault();
        //}

        if (e.keyCode == 13) {
            //alert("Enter pressed");
            $('#hfn-Agentlist-index').val(0);
            var index = $('#hfn-Agentlist-index').val();
            RefreshAgentList(parseInt(index));
            RefreshAgentListPagination(parseInt(index), parseInt($('#hfn-Agentlist-index').val()) + parseInt(1));
        }
    });



    $(document).on('click', '.btn-delete-Agent', function () {
        var source = $(this);
        var AgentId = $(source).attr('data-Agentid');
        swal({
            title: "Are you sure?",
            text: "You are about to delete the Agent!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#004b8d",
            confirmButtonText: "Yes, delete!",
            closeOnConfirm: true
        },
      function (isConfirm) {

          if (isConfirm) {
              $.ajax({
                  url: '/Reseller/deactivateAgent/' + AgentId,
                  type: "GET",
                  dataType: 'json',
                  success: function (data) {
                      if (data.status) {
                          toastr.success("Agent deleted");
                          var index = $('#hfn-Agentlist-index').val();
                          RefreshAgentList(parseInt(index));
                          RefreshAgentListPagination(parseInt(index), parseInt($('#hfn-Agentlist-index').val()) + parseInt(1));
                      }
                      else {
                          toastr.error("An error has occured");
                      }
                  }
              });
          }
          else {
              //toastr.error("An error has occured");
          }
      });
    });

</script>



