﻿<html>
<head>
    <meta charset="utf-8">
    <title>Mail</title>
</head>

<body>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; padding:20px; font-family:Arial, Helvetica, sans-serif; font-weight: 400;">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" style="width: 800px; margin: 0px auto;border:1px solid #ccc;">
                    <tr>
                        <!--<td style="background-color: #2e90ff; padding: 15px; background-image:url(http://safefunride.com/image/email-2.jpg);">
                            <img src="http://safefunride.com/image/email.jpg" style="width: 100%; margin: 0px auto; display: block; box-shadow:0px 5px 15px rgba(0,0,0,0.2);" />
                        </td>-->
                        <td style="padding: 15px; width: 800px; height: 140px; border-bottom: 1px solid #c2d892; background-color: #ececec; ">
                            <img style="display: block; max-width: 100%; height: auto; width: 150px; margin:auto;" src="http://202.191.65.67:4131/Content/img/touchnpay.png">
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #f7f7f7; padding: 50px 10%; border-bottom: 1px solid #ccc;">
                            <b>A user contacted you,</b><br /><br />
                            <b>UserName : {{username}}</b><br /><br />
                            <b>Phone Number :  {{phone}}</b><br /><br />
                            <b>Message is: {{message}}</b><br />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 10px; text-align: center; font-size: 12px; color:#b9b7b7;">
                            &copy; Copyright 2018 Touch&Pay. All rights reserved.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>
