﻿@model ClassLibrary.WebPostModel.CreditHistoryPaginationViewModel
@{
    var historyList = new EntityLibrary.Data.AdminService().GetAgentCreditHistoryDataCount(Model.AgentId, Convert.ToString(Model.nextIndex), Model.listcount, Model.search);
}

@if (Model.nextIndex >= 0 && Model.currentIndex != 0)
{
    <li style="cursor:pointer;"><a id="li-historyList-pagination-prev">Prev</a></li>
}
@if (historyList > 0)
{
    <li style="cursor:pointer;"><a id="li-historyList-pagination-next">Next</a></li>
}