﻿
@model ClassLibrary.WebPostModel.CreditHistoryViewModel
@{
    //var transaction = new EntityLibrary.Data.AdminService().getUserTransactionWeb(Model.agentId, Model.index, Model.listcount, Model.search);
    var transaction = new EntityLibrary.Data.AdminService().GetAgentCreditHistoryData(Model.AgentId,Convert.ToString(Model.index), Model.listcount, Model.search);
}

@if (transaction.Count > 0)
{
    int slno = 1;
    int count = 10;
    try
    {
        count = Convert.ToInt32(Model.listcount);
    }
    catch (Exception ex)
    {
        count = 10;
    }
    foreach (var item in transaction)
    {
        <tr>
            <td>@((Model.index * count) + slno)</td>
            <td>@item.AGENTID</td>
            <td>@item.USERNAME</td>
            <td>@item.AMOUNT</td>
            <td>@item.DATE.ToString("dd-MM-yyyy HH:mm:ss")</td>
            <td>@item.TYPE.ToString()</td>
        </tr>

        slno = slno + 1;
    }
}
else
{
    <tr>
        <td colspan="6"> No Credits Found</td>
    </tr>
}
