﻿
@model ClassLibrary.WebPostModel.CreditHistoryViewModel
@{
    ViewBag.Title = "credithistory";
    Layout = "~/Views/Shared/_agentLayout.cshtml";
}



<input type="hidden" id="hfn-credithistorylist-index" value="0" />
<input type="hidden" id="hfn-credithistorylist-agentid" value="@Model.AgentId" />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
    <div class="addBtn">
        <a style="cursor:pointer;" onclick="history.back()">Back</a>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
    <select class="form-control select-listcount-value" style="width: 80px;">
        <option selected value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="table-responsive">
        <table class="table table-bordered cust-table">
            <thead>
                <tr>
                    <th width="70">Sl No</th>
                    <th>Agent ID</th>
                    <th>Username</th>
                    <th>Amount</th>
                    <th>Date / Time</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody id="tbody-credithistorylist">
                @{
                    var postModel = new ClassLibrary.WebPostModel.CreditHistoryViewModel();
                    postModel.index = 0;
                    postModel.listcount = "10";
                    postModel.search = "";
                    postModel.AgentId = Model.AgentId;
                }
                @Html.Partial("~/Views/Agent/_pv_credithistory_list.cshtml", postModel)

            </tbody>
        </table>
    </div>

    <div class="paging">
        <ul id="ul-credithistorylist-pagination">
            @{
                var postModelPagination = new ClassLibrary.WebPostModel.CreditHistoryPaginationViewModel();
                postModelPagination.currentIndex = postModel.index;
                postModelPagination.nextIndex = postModel.index + 1;
                postModelPagination.listcount = "10";
                postModelPagination.search = "";
                postModelPagination.AgentId = Model.AgentId;
            }
            @Html.Partial("~/Views/Agent/_pv_credithistory_list_pagination.cshtml", postModelPagination)

        </ul>
    </div>
</div><!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->


<script>

    function RefreshCreditHistorylist(index) {
        var obj = new Object();
        obj.index = parseInt(index);
        obj.search = "";
        obj.AgentId = $('#hfn-credithistorylist-agentid').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        $.ajax({
            url: '/Agent/refreshCreditlist',
            type: "POST",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#tbody-credithistorylist').html(data);
            }
        });
    }

    function RefreshCreditHistorylistPagination(currentIndex, nextIndex) {
        var obj = new Object();
        obj.currentIndex = parseInt(currentIndex);
        obj.nextIndex = parseInt(nextIndex);
        obj.AgentId = $('#hfn-credithistorylist-agentid').val();
        obj.search = "";
        obj.listcount = $(".select-listcount-value option:selected").val();
        $.ajax({
            url: '/Agent/refreshCreditlistPagination',
            type: "POST",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#ul-credithistorylist-pagination').html(data);
            }
        });
    }



    $(document).on('keypress', '#txt-search', function (e) {

        //// Allow: backspace, delete, tab, escape, enter and .
        //if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
        //    // Allow: Ctrl+A, Command+A
        //    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
        //    // Allow: home, end, left, right, down, up
        //    (e.keyCode >= 35 && e.keyCode <= 40)) {
        //    // let it happen, don't do anything
        //    return;
        //}
        //// Ensure that it is a number and stop the keypress
        //if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        //    alert();
        //    e.preventDefault();
        //}

        if (e.keyCode == 13) {
            //alert("Enter pressed");
            $('#hfn-transactionlist-index').val(0);
            var index = $('#hfn-transactionlist-index').val();
            RefreshTransactionlist(parseInt(index));
            RefreshTransactionlistPagination(parseInt(index), parseInt($('#hfn-transactionlist-index').val()) + parseInt(1));
        }
    });

    $(document).on('change', '.select-listcount-value', function () {
        var source = $(this);
        $('#hfn-credithistorylist-index').val(0);
        $(".select-listcount-value").val($(".select-listcount-value option:selected").val());
        var index = $('#hfn-credithistorylist-index').val();
        RefreshCreditHistorylist(parseInt(index));
        RefreshCreditHistorylistPagination(parseInt(index), parseInt($('#hfn-credithistorylist-index').val()) + parseInt(1));
    });



    $(document).on('click', '#li-historyList-pagination-next', function () {
        var index = $('#hfn-credithistorylist-index').val();
        RefreshCreditHistorylist(parseInt(index) + parseInt(1));
        RefreshCreditHistorylistPagination(parseInt(index) + parseInt(1), parseInt($('#hfn-credithistorylist-index').val()) + parseInt(2));
        $('#hfn-credithistorylist-index').val(parseInt($('#hfn-credithistorylist-index').val()) + parseInt(1));
    });

    $(document).on('click', '#li-historyList-pagination-prev', function () {
        var index = $('#hfn-credithistorylist-index').val();
        RefreshCreditHistorylist(parseInt(index) - parseInt(1));
        RefreshCreditHistorylistPagination(parseInt(index) - parseInt(1), parseInt($('#hfn-credithistorylist-index').val()) - parseInt(2));
        $('#hfn-credithistorylist-index').val(parseInt($('#hfn-credithistorylist-index').val()) - parseInt(1));
    });

</script>

