﻿@model ClassLibrary.WebPostModel.EditAgent
@{
    ViewBag.Title = "editprofile";
    Layout = "~/Views/Shared/_agentLayout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
            @using (Ajax.BeginForm("editprofile", "Agent", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "editagentSuccess",
                OnFailure = "ajaxFailure",
            }, new { id = "touch&pay-editagent" }))
            {
                @Html.HiddenFor(m => m.agentId, new { Value = Model.agentId })
                <div class="assign">
                    <div class="form-group">
                        <span>Name : </span>
                        @Html.TextBoxFor(m => m.name, new { autocomplete = "off", @class = "form-control", @readonly = "true", value = @Model.name })
                        @Html.ValidationMessageFor(model => model.name)
                        @*<input type="text" class="form-control">*@
                    </div>
                    <div class="form-group">
                        <span>Password : </span>
                        @Html.TextBoxFor(m => m.password, new { autocomplete = "off", @class = "form-control", @readonly = "true", value = @Model.password })
                        @Html.ValidationMessageFor(model => model.password)
                        @*<input type="text" class="form-control">*@
                    </div>
                    <div class="form-group">
                        <span>Phone number : </span>

                        @Html.TextBoxFor(m => m.countryCode, new { autocomplete = "off", @class = "form-control cntryCode", @readonly = "true", value = @Model.countryCode })
                        @Html.TextBoxFor(m => m.mobileNumber, new { autocomplete = "off", @class = "form-control phnNumb", @readonly = "true", value = @Model.mobileNumber })
                        @*<div>
                                @Html.ValidationMessageFor(model => model.countryCode)
                            </div>*@
                        <span class="field-validation-error field-validation-error-countryCode" style="display:none;"><span id="countryCode-error" class="">Required</span></span>
                        <div>

                            @Html.ValidationMessageFor(model => model.mobileNumber)
                        </div>
                        @*<input type="text" class="form-control cntryCode">
                            <input type="text" class="form-control phnNumb">*@
                        @*<input type="text" class="form-control">*@
                    </div>
                    <div class="form-group">
                        <span>Place : </span>
                        @*@Html.TextBoxFor(m => m.place, new { autocomplete = "off", @class = "form-control", value = @Model.place })*@
                        @Html.TextBoxFor(m => m.place, new { autocomplete = "off", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.place)
                        @*<input type="text" class="form-control">*@
                    </div>
                    <div class="form-group">
                        <span>Address : </span>
                        @Html.TextAreaFor(m => m.address, new { autocomplete = "off", @class = "form-control", value = @Model.address })
                        @Html.ValidationMessageFor(model => model.address)
                        @*<textarea class="form-control"></textarea>*@
                    </div>
                    <div class="form-group">
                        <span>Shop Name : </span>
                        @Html.TextBoxFor(m => m.shopName, new { autocomplete = "off", @class = "form-control", value = @Model.shopName })
                        @Html.ValidationMessageFor(model => model.shopName)
                        @*<input type="text" class="form-control">*@
                    </div>
                    <div class="form-group">
                        <button type="button" id="btn-dummyagentedit" class="btn btn_Add"> Update</button>
                        <button type="submit" id="btn-agentedit" class="btn btn_Add" style="display:none;">Update</button>
                    </div>
                </div>
            }
        </div><!-- ./col-lg-3 col-md-3 col-sm-12 col-xs-12 -->
    </div><!-- ./row -->
</div>


<script>

    function editagentSuccess(data) {
        if (data.status) {
            toastrSuccess(data.message)
            setTimeout(function () {
                window.location.href = "/Agent/home";
            }, 300);
        }
        else {
            toastrError(data.message);
        }
    }

    $(document).on('click', '#btn-dummyagentedit', function () {
        if ($('#countryCode').val() != '' && $('#mobileNumber').val() != '') {
            $(document).find('.field-validation-error').css('display', 'block');
            $(document).find('.field-validation-valid').css('display', 'block');
            $('.field-validation-error-countryCode').hide();
            $('#btn-agentedit').trigger('click');
        }
        else if ($('#countryCode').val() == '') {
            $(document).find('.phnNumb').parent().find('.field-validation-valid').css('display', 'none');
            $('.field-validation-error-countryCode').show();
            $('#btn-agentedit').trigger('click');
        }
        else {
            $(document).find('.field-validation-valid').css('display', 'block');
            $('#btn-agentedit').trigger('click');
        }
        //$('#btn-agentadd').trigger('click');
    });

    $(document).on('keyup', '.phnNumb', function () {
        if ($('#countryCode').val() != '') {
            $(document).find('.field-validation-error').css('display', 'block');
            $(document).find('.field-validation-valid').css('display', 'block');
            $('.field-validation-error-countryCode').css('display', 'none');
        }
    });

</script>

