﻿@model ClassLibrary.WebPostModel.AgentTransactions
@{
    ViewBag.Title = "transactions";
    Layout = "~/Views/Shared/_agentLayout.cshtml";
    //var transaction = new EntityLibrary.Data.AdminService().getUserTransaction(Model.agentId, Model.index);
     var totalValues = new EntityLibrary.Data.AdminService().getTotalDeductedAmountAndCommission(Model.agentId);
    var totalDeductedAmount = totalValues.ToList().Select(z => z.TOTALAMOUNTDEDUCTED).Sum();
    var totalCommission = totalValues.ToList().Select(z => z.TOTALCOMMISSION).Sum();
}

<input type="hidden" id="hfn-agent-transactionlist-index" value="0" />
<input type="hidden" id="hfn-agent-transactionlist-agentId" value=@Model.agentId />
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 after_title">
            <div class="total-vl">
                <h4><span>Total Deducted Amount</span>: <label id="ibl-totalsale-aed"> @totalDeductedAmount</label></h4>
                <h4><span>Total Commission</span>: <label id="ibl-totalsale-inr"> @totalCommission</label></h4>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 after_title" style="margin-bottom:20px;">
            <div class="addBtn">
                <a style="cursor:pointer;" onclick="history.back()">Back</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 after_title">
    <select class="form-control select-listcount-value" style="width: 80px;">
        <option selected value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="table-responsive">
        <table class="table table-bordered cust-table">
            <thead>
                <tr>
                    <th width="70">Sl No</th>
                    <th>Transaction ID</th>
                    <th>Date / Time</th>
                    <th>Mobile Number</th>
                    @*<th>Api Provider Name</th>*@
                    <th>Type</th>
                    @*<th>Price</th>*@
                    <th>Deducted Price</th>
                    <th>Deducted Price Currency</th>
                    <th>Commission</th>
                 </tr>
            </thead>
            <tbody id="tbody-agenttransactionlist">
                @{
                    var postModel = new ClassLibrary.WebPostModel.AgentTransactions();
                    postModel.agentId = Model.agentId;
                    postModel.index = 0;
                    postModel.listcount = "10";
                }
                @Html.Partial("~/Views/Agent/_pv_agent_transactionlist.cshtml", postModel)
            </tbody>
        </table>
    </div>
</div><!-- ./col-lg-12 col-md-12 col-sm-12 col-xs-12 -->

<div class="paging">
    <ul id="ul-agenttransactionlist-pagination">
        @{
            var postModelPagination = new ClassLibrary.WebPostModel.AgentTransactionsPaginationModel();
            postModelPagination.currentIndex = postModel.index;
            postModelPagination.agentId = Model.agentId;
            postModelPagination.nextIndex = postModel.index + 1;
            postModelPagination.listcount = "10";
        }
        @Html.Partial("~/Views/Agent/_pv_agent_transactionlist_pagination.cshtml", postModelPagination)

    </ul>
</div>


<script>

    function RefreshAgentTransactionlist(index, agentId) {
        var obj = new Object();
        obj.index = parseInt(index);
        obj.agentId = parseInt(agentId);
        obj.search = $('#txt-search').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        $.ajax({
            url: '/Agent/refreshAgentTransactionlist',
            type: "POST",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#tbody-agenttransactionlist').html(data);
            }
        });
    }

    function RefreshAgentTransactionlistPagination(currentIndex, nextIndex, agentId) {
        var obj = new Object();
        obj.currentIndex = parseInt(currentIndex);
        obj.nextIndex = parseInt(nextIndex);
        obj.agentId = parseInt(agentId);
        obj.search = $('#txt-search').val();
        obj.listcount = $(".select-listcount-value option:selected").val();
        console.log(obj);
        $.ajax({
            url: '/Agent/refreshAgentTransactionlistPagination',
            type: "POST",
            data: obj,
            dataType: 'html',
            success: function (data) {
                $('#ul-agenttransactionlist-pagination').html(data);
            }
        });
    }



    $(document).on('keypress', '#txt-search', function (e) {

        //// Allow: backspace, delete, tab, escape, enter and .
        //if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
        //    // Allow: Ctrl+A, Command+A
        //    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
        //    // Allow: home, end, left, right, down, up
        //    (e.keyCode >= 35 && e.keyCode <= 40)) {
        //    // let it happen, don't do anything
        //    return;
        //}
        //// Ensure that it is a number and stop the keypress
        //if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        //    alert();
        //    e.preventDefault();
        //}

        if (e.keyCode == 13) {
            //alert("Enter pressed");
            $('#hfn-agent-transactionlist-index').val(0);
            var index = $('#hfn-agent-transactionlist-index').val();
            var agentId = $('#hfn-agent-transactionlist-agentId').val();
            RefreshAgentTransactionlist(parseInt(index), parseInt(agentId));
            RefreshAgentTransactionlistPagination(parseInt(index), parseInt($('#hfn-agent-transactionlist-index').val()) + parseInt(1), parseInt(agentId));
        }
    });

    $(document).on('change', '.select-listcount-value', function () {
        var source = $(this);
        $('#hfn-agent-transactionlist-index').val(0);
        $(".select-listcount-value").val($(".select-listcount-value option:selected").val());
        var index = $('#hfn-agent-transactionlist-index').val();
        var agentId = $('#hfn-agent-transactionlist-agentId').val();
        RefreshAgentTransactionlist(parseInt(index), parseInt(agentId));
        RefreshAgentTransactionlistPagination(parseInt(index), parseInt($('#hfn-agent-transactionlist-index').val()) + parseInt(1), parseInt(agentId));
    });



    $(document).on('click', '#li-agenttransactionlist-pagination-next', function () {
        var index = $('#hfn-agent-transactionlist-index').val();
        var agentId = $('#hfn-agent-transactionlist-agentId').val();
        RefreshAgentTransactionlist(parseInt(index) + parseInt(1), agentId);
        RefreshAgentTransactionlistPagination(parseInt(index) + parseInt(1), parseInt($('#hfn-agent-transactionlist-index').val()) + parseInt(2), agentId);
        $('#hfn-agent-transactionlist-index').val(parseInt($('#hfn-agent-transactionlist-index').val()) + parseInt(1));
    });

    $(document).on('click', '#li-agenttransactionlist-pagination-prev', function () {
        var index = $('#hfn-agent-transactionlist-index').val();
        var agentId = $('#hfn-agent-transactionlist-agentId').val();
        RefreshAgentTransactionlist(parseInt(index) - parseInt(1), agentId);
        RefreshAgentTransactionlistPagination(parseInt(index) - parseInt(1), parseInt($('#hfn-agent-transactionlist-index').val()) - parseInt(2), agentId);
        $('#hfn-agent-transactionlist-index').val(parseInt($('#hfn-agent-transactionlist-index').val()) - parseInt(1));
    });

</script>



