﻿@model ClassLibrary.WebPostModel.SendContactUsMail
@{
    Layout = null;
    var currentDate = System.DateTime.UtcNow;
}

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>index</title>

        <style>

            /* Set height to 100% for body and html to enable the background image to cover the whole page: */
            body, html {
                height: 100%;
            }

            .bgimg {
                /* Background image */
                background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
                /* Full-screen */
                height: 100%;
                /* Center the background image */
                background-position: center;
                /* Scale and zoom in the image */
                background-size: cover;
                /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
                position: relative;
                /* Add a white text color to all elements inside the .bgimg container */
                color: white;
                /* Add a font */
                font-family: "Courier New", Courier, monospace;
                /* Set the font-size to 25 pixels */
                font-size: 25px;
            }

            /* Position text in the top-left corner */
            .topleft {
                position: absolute;
                top: 0;
                left: 16px;
            }

            /* Position text in the bottom-left corner */
            .bottomleft {
                position: absolute;
                bottom: 0;
                left: 16px;
            }

            /* Position text in the middle */
            .middle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }

            /* Style the <hr> element */
            hr {
                margin: auto;
                width: 40%;
            }

        </style>

    </head>
    <body>
        <div class="bgimg">
            <div class="topleft">
                <p>&nbsp;</p>
            </div>
            <div class="middle">
                <h1>COMING SOON</h1>
                <hr>
                <p id="demo" style="font-size:30px"></p>
            </div>
            <div class="bottomleft">
                <p>&nbsp;</p>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            // Set the date we're counting down to
            var countDownDate = new Date("Jan 5, 2019 15:37:25").getTime();

            // Update the count down every 1 second
            var countdownfunction = setInterval(function () {

                // Get todays date and time
                var now = new Date().getTime();

                // Find the distance between now an the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Output the result in an element with id="demo"
                document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

                // If the count down is over, write some text
                if (distance < 0) {
                    clearInterval(countdownfunction);
                    document.getElementById("demo").innerHTML = "EXPIRED";
                }
            }, 1000);
        </script>


    </body>
    </html>*@


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700" rel="stylesheet">

    <link href="~/Content/dist/css/stylesIndex.css" rel="stylesheet" />
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <title>TouchPay</title>


    <style>
        .field-validation-error {
            color: red;
        }

        /*premjith*/
        /*-- Preloader --*/
        .preloder {
            display: block;
            position: fixed;
            z-index: 10000;
            top: 0px;
            left: 0px;
            background-color: rgba(255, 255, 255, 0.53);
            width: 100%;
            height: 100%;
            padding: 15px;
        }

        .preloder2 {
            display: block;
            position: fixed;
            z-index: 10000;
            top: 0px;
            left: 0px;
            background-color: rgba(255, 255, 255, 0.53);
            width: 100%;
            height: 100%;
            padding: 15px;
        }

        .loder {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1000;
            margin-left: -75px;
            margin-top: -30px;
        }

        .loder-img {
            width: 150px;
            display: block;
            position: relative;
            margin: 0px auto;
        }

        .loder span {
            display: inline-block;
            position: relative;
            margin-top: 7px;
        }
        /*-- /Preloader --*/

    </style>



</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">


    <div class="preloder">
        <div class="loder">
            <img src="/Content/img/dash_logo.png" class="loder-img" />
            <span>Please wait loading...</span>
        </div>
    </div>

    <header id="main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!--  Remove dark nav  -->
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand"><img src="~/Content/img/dash_logo.png" width="80" alt="Logo"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#main-header">Home</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#how-wrk">How it works</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="#screenshot-app">App Screenshot</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="#contct-us">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="main-slider" id="home-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="slider">
                    <img class="img-fluid" src="~/Content/img/slider.jpg">
                    <div class="slider_txts">
                        <h4>TouchPay Mobile App</h4>
                        <p>TouchPay much more user-friendly app to easily recharge mobile and DTH. Pay your water and electricity at ease. </p>
                        <ul class="download_icons">
                            <li><a href="#"><img src="~/Content/img/appstore.png" class="img-fluid"></a></li>
                            <li><a href="#"><img src="~/Content/img/appstore2.png" class="img-fluid"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="how_it_works" id="how-wrk">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <img src="~/Content/img/about.png" class="img-fluid">
                </div>

                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="how_wrks">
                        <h3 class="section_title">How it works</h3>
                        <p>An app for all your mobile recharge solutions. It is absolutely risk free to recharge with this app. t is simple, fast and hassle free. It is the most secure way to recharge your mobile phone</p>
                        <ul>
                            <li>Mobile Recharges: Prepaid recharges available for national and international mobile service providers mainly UAE.</li>
                            <li>Postpaid bill payment and DTH recharge facility is available only in India</li>
                            <li>Pay water and electricity bill</li>
                            <li>The app is provided with the wallet</li>
                            <li>Amount of payment is deducted directly from the wallet.</li>
                            <li>Can easily pay amount via the wallet till its empty.</li>
                            <li>Recharge amount can be paid in respective currencies.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="screenshot" id="screenshot-app">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="text-center section_title txt_white">App Screenshots</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="screenshotImages">
                        <li><img class="img-fluid" src="~/Content/img/screen_four.png"></li>
                        <li><img class="img-fluid" src="~/Content/img/screen_five.png"></li>
                        <li class="screenMain"><img class="img-fluid" src="~/Content/img/screen_one.png"></li>
                        <li><img class="img-fluid" src="~/Content/img/screen_two.png"></li>
                        <li><img class="img-fluid" src="~/Content/img/screen_three.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="contact_section" id="contct-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="text-center section_title">Ask any questions</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="contact_form">
                        <img class="img-responsive" src="/Content/img/touchnpay.png" />
                        @using (Ajax.BeginForm("sendContactUsMail", "Account", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "sendContactUsMailSuccess",
            OnFailure = "ajaxFailure",
        }, new { id = "touch&pay-contactus" }))
                        {
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        @*<input type="text" class="form-control" placeholder="Name">*@
                                        @Html.TextBoxFor(m => m.name, new { autocomplete = "off", placeholder = "Name", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.name)
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        @*<input type="text" class="form-control" placeholder="Email">*@
                                        @Html.TextBoxFor(m => m.email, new { autocomplete = "off", placeholder = "Email", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.email)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @*<input type="text" class="form-control" placeholder="Subject">*@
                                @Html.TextBoxFor(m => m.subject, new { autocomplete = "off", placeholder = "Subject", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.subject)
                            </div>
                            <div class="form-group">
                                @*<textarea class="form-control" placeholder="Messages" rows="5"></textarea>*@
                                @Html.TextAreaFor(m => m.message, new { autocomplete = "off", placeholder = "Messages", @class = "form-control", Rows = "5" })
                                @Html.ValidationMessageFor(model => model.message)
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Submit" class="btn submit-btn">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="download_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="download">
                        <h3>Download Our App</h3>
                        <p>Take your journal wherever you go with our apps for iPhone, iPad, and Android phones & tablets.</p>
                        <ul class="download_icons">
                            <li><a href="#"><img src="~/Content/img/appstore.png" class="img-fluid"></a></li>
                            <li><a href="#"><img src="~/Content/img/appstore2.png" class="img-fluid"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="copyright_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright">
                        Copyright @currentDate.ToString("yyyy"). TouchPay
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/bootstrap/js/smooth-scroll.polyfills.min.js"></script>
    <script src="~/Content/plugins/toastr/toastr.min.js"></script>
    <script src="~/Content/plugins/toastr/toastrConfig.js"></script>
    <script>

        // Instantiate Scrolls
        var scroll = new SmoothScroll('a[href*="#"]:not([data-easing])');

        var linear = new SmoothScroll('[data-easing="linear"]', { easing: 'linear' });

        var easeInQuad = new SmoothScroll('[data-easing="easeInQuad"]', { easing: 'easeInQuad' });
        var easeInCubic = new SmoothScroll('[data-easing="easeInCubic"]', { easing: 'easeInCubic' });
        var easeInQuart = new SmoothScroll('[data-easing="easeInQuart"]', { easing: 'easeInQuart' });
        var easeInQuint = new SmoothScroll('[data-easing="easeInQuint"]', { easing: 'easeInQuint' });

        var easeInOutQuad = new SmoothScroll('[data-easing="easeInOutQuad"]', { easing: 'easeInOutQuad' });
        var easeInOutCubic = new SmoothScroll('[data-easing="easeInOutCubic"]', { easing: 'easeInOutCubic' });
        var easeInOutQuart = new SmoothScroll('[data-easing="easeInOutQuart"]', { easing: 'easeInOutQuart' });
        var easeInOutQuint = new SmoothScroll('[data-easing="easeInOutQuint"]', { easing: 'easeInOutQuint' });

        var easeOutQuad = new SmoothScroll('[data-easing="easeOutQuad"]', { easing: 'easeOutQuad' });
        var easeOutCubic = new SmoothScroll('[data-easing="easeOutCubic"]', { easing: 'easeOutCubic' });
        var easeOutQuart = new SmoothScroll('[data-easing="easeOutQuart"]', { easing: 'easeOutQuart' });
        var easeOutQuint = new SmoothScroll('[data-easing="easeOutQuint"]', { easing: 'easeOutQuint' });

        // Log scroll events
        var logScrollEvent = function (event) {
            console.log('type:', event.type);
            console.log('anchor:', event.detail.anchor);
            console.log('toggle:', event.detail.toggle);
        };
        document.addEventListener('scrollStart', logScrollEvent, false);
        document.addEventListener('scrollStop', logScrollEvent, false);
        document.addEventListener('scrollCancel', logScrollEvent, false);
    </script>

    <script>

        function sendContactUsMailSuccess(data) {
            if (data.status) {
                toastrSuccess(data.message)
                setTimeout(function () {
                    location.reload();
                }, 500);
            }
            else {
                toastrError(data.message);
            }
        }

        function ajaxFailure() {
            toastrError("An error has occured");
        }


        $(document)
       .ajaxStart(function () {
           $(".preloder").show();
       })
       .ajaxStop(function () {
           $(".preloder").fadeOut();
       });

        $(document).ready(function () {
            $(".preloder").fadeOut();
        });

    </script>

</body>
</html>
